/* 
--------------------------------------------------------
00 - Foundation
--------------------------------------------------------
*/

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    /* Use margin and gradient below on body of each css file */
    /* 
    margin: 4.8rem;
    background-image: var(--gradient-yoda); 
    */
    /* 100vh minus the margin on body */
    /* min-height: calc(100vh - 100px);  */
}

/* 
--------------------------------------------------------
01 - Typography
--------------------------------------------------------
*/

small,
.text-small {
    font-size: var(--font-size-sm);
}

p {
    font-size: var(--font-size-base);
}
h5 {
    font-size: var(--font-size-md);
}
h4 {
    font-size: var(--font-size-lg);
}
h3 {
    font-size: var(--font-size-xl);
}
h2 {
    font-size: var(--font-size-xxl);
}
h1 {
    font-size: var(--font-size-xxxl);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 3rem 0 1.38rem;
    font-weight: 700;
}
p {
    margin-bottom: 1rem;
    font-weight: 500;
}

.text-light {
    font-weight: 300;
}

/* Lists */
ul {
    list-style-position: inside;
    margin-bottom: 1rem;
    padding-left: 1rem;
}
ul li::marker,
ol li::marker {
    color: var(--color-gray);
}
li {
    line-height: 1.5;
}

/* 
--------------------------------------------------------
02 - Structure
--------------------------------------------------------
*/

.container {
    border: 5px dashed var(--color-black);
    background: rgba(255, 255, 255, 0.3);
}

/* Use values in this class for sub items demoed in grids */
.item-simple {
    display: grid;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.5);
    font-size: var(--font-size-lg);
    font-weight: 900;
    padding: 4.8rem 2rem;
    border-radius: var(--border-radius-md);
}
