/* 
Based on:
https://www.joshwcomeau.com/css/custom-css-reset/
*/

html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
    /* Users preference */
    color-scheme: light dark;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* Set default size to 16px equivalent */
    font-size: 1.6rem;
    /* Improve text rendering */
    -webkit-font-smoothing: antialiased;
    /* 
    Add accessible line-height for paragraph, li content etc
    Decrease to 1.1 for h1, h2 etc
    */
    line-height: 1.6;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
    /* display: block;
    max-width: 100%; */
    max-inline-size: 100%;
    block-size: auto;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* Avoid text overflows */
p,
li,
h1,
h2,
h3,
h4 {
    /* Help prevent overflow of long words/names/URLs */
    overflow-wrap: break-word;

    /* Optional, not supported for all languages */
    hyphens: auto;
}

p {
    /* 
    Add accessible line-height for paragraph content
    https://www.w3.org/WAI/WCAG21/Understanding/text-spacing.html 
    */
    /* line-height: 1.6; */
}

.flow > * + * {
    /* 
    - setting a variable that can adjusted on elements elsewhere
    - e.g. on a h2 I could set --flow-space:2em; 
    - 1em is the fallback and used by everything else
    - em used to give variable spacing based on font size
    - preferable to same spacing for h1 and p for example
    */
    margin-top: var(--flow-space, 1em);
}