/* 
Based on:
https://www.joshwcomeau.com/css/custom-css-reset/
*/

html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* Set default size to 16px equivalent */
    font-size: 1.6rem;
    /* Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* Avoid text overflows */
p,
li,
h1,
h2,
h3,
h4 {
    /* Help prevent overflow of long words/names/URLs */
    overflow-wrap: break-word;

    /* Optional, not supported for all languages */
    hyphens: auto;
}

p {
    /* 
    Add accessible line-height for paragraph content
    https://www.w3.org/WAI/WCAG21/Understanding/text-spacing.html 
    */
    line-height: 1.5;
}