:root {
    /* 
    Fluid typography scale 
    https://www.fluid-type-scale.com/
    */
    --font-size-sm: clamp(1.28rem, -0.09vw + 1.32rem, 1.2rem);
    --font-size-base: clamp(1.6rem, 0vw + 1.6rem, 1.6rem);
    --font-size-md: clamp(2rem, 0.15vw + 1.94rem, 2.13rem);
    --font-size-lg: clamp(2.5rem, 0.39vw + 2.34rem, 2.84rem);
    --font-size-xl: clamp(3.13rem, 0.76vw + 2.82rem, 3.79rem);
    --font-size-xxl: clamp(3.91rem, 1.3vw + 3.39rem, 5.05rem);
    --font-size-xxxl: clamp(4.88rem, 2.1vw + 4.04rem, 6.73rem);

    /* Colour neutral */
    --color-white: #f3f3f3;
    --color-black: #0a0a23;
    --color-gray-light: #c8c8c8;
    --color-gray: #8e8e8e;
    --color-gray-dark: #444;

    /* Color block */
    --color-orange: #fdb347;
    --color-yellow: #ffc608;

    /* Gradients */
    --gradient-yoda: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    --gradient-witch: linear-gradient(to right, #c31432, #240b36);
    --gradient-wiretap: linear-gradient(to right, #8a2387, #e94057, #f27121);
    --gradient-expresso: linear-gradient(to right, #ad5389, #3c1053);
    --gradient-fizz: linear-gradient(to right, #00f260, #0575e6);
    --gradient-velvetsun: linear-gradient(to right, #e1eec3, #f05053);

    /* Border radius */
    --border-radius-sm: 0.4rem;
    --border-radius-md: 0.8rem;
    --border-radius-lg: 1.2rem;
    --border-radius-circle: 50%;
}
