/* 
--------------------------------------------------------------------------------
SIZING
--------------------------------------------------------------------------------
*/
small,
.text-small {
    font-size: var(--fs-sm);
}

p {
    font-size: var(--fs-base);
}
h5 {
    font-size: var(--fs-md);
}
h4 {
    font-size: var(--fs-lg);
}
h3 {
    font-size: var(--fs-xl);
}
h2 {
    font-size: var(--fs-xxl);
}
h1 {
    font-size: var(--fs-xxxl);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--f-special);
    line-height: var(--lh-sm);
    margin: 3rem 0 1.38rem;
}

/* 
--------------------------------------------------------------------------------
WEIGHTS
--------------------------------------------------------------------------------
*/

p {
    font-weight: 500;
}

.text-light {
    font-weight: 300;
}

/* 
--------------------------------------------------------------------------------
LISTS
--------------------------------------------------------------------------------
*/

ul {
    list-style-position: inside;
    padding-left: 1rem;
}
ul li::marker,
ol li::marker {
    color: var(--color-gray);
}
