/* 
--------------------------------------------------------------------------------
SIZING
--------------------------------------------------------------------------------
*/
small,
.text-small {
    font-size: var(--fs-sm);
}
p {
    font-size: var(--fs-base);
}
h5 {
    font-size: var(--fs-md);
}
h4 {
    font-size: var(--fs-lg);
}
h3 {
    font-size: var(--fs-xl);
}
h2 {
    font-size: var(--fs-xxl);
}
h1 {
    font-size: var(--fs-xxxl);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-special);
    line-height: var(--lh-tight);
    font-weight: var(--fw-bold);
    margin: 3rem 0 1.38rem;
}

/* 
--------------------------------------------------------------------------------
WEIGHTS
--------------------------------------------------------------------------------
*/

p {
    font-weight: var(--fw-regular);
}

.text-light {
    font-weight: var(--fw-light);
}

/* 
--------------------------------------------------------------------------------
LINKS
--------------------------------------------------------------------------------
*/

a {
    color: var(--clr-black);
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.2em;
}
a:hover {
    text-decoration: none;
}

/* 
--------------------------------------------------------------------------------
LISTS
--------------------------------------------------------------------------------
*/

ul {
    list-style-position: inside;
    padding-left: 1rem;
}
ul li::marker,
ol li::marker {
    color: var(--clr-gray);
}
