@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Merriweather:ital@0;1&display=swap');

:root {
    --f-plain: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
        'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --f-serif: 'Merriweather', serif;
    --f-special: 'Barlow Condensed', sans-serif;
    /* 
    Fluid typography scale 
    https://www.fluid-type-scale.com/
    */
    --fs-sm: clamp(1.28rem, -0.09vw + 1.32rem, 1.2rem);
    --fs-base: clamp(1.6rem, 0vw + 1.6rem, 1.6rem);
    --fs-md: clamp(2rem, 0.15vw + 1.94rem, 2.13rem);
    --fs-lg: clamp(2.5rem, 0.39vw + 2.34rem, 2.84rem);
    --fs-xl: clamp(3.13rem, 0.76vw + 2.82rem, 3.79rem);
    --fs-xxl: clamp(3.91rem, 1.3vw + 3.39rem, 5.05rem);
    --fs-xxxl: clamp(4.88rem, 2.1vw + 4.04rem, 6.73rem);

    /* Ratios */
    /* 
    Add accessible line-height for paragraph content
    https://www.w3.org/WAI/WCAG21/Understanding/text-spacing.html 
    */
    --ratio: 1.6;
    --lh-default: var(--ratio);
    --lh-sm: calc(0.7 * var(--ratio));

    /* Gradients */
    --gr-yoda: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    --gr-witch: linear-gradient(to right, #c31432, #240b36);
    --gr-wiretap: linear-gradient(to right, #8a2387, rgb(233, 64, 87), #f27121);
    --gr-expresso: linear-gradient(to right, #ad5389, #3c1053);
    --gr-fizz: linear-gradient(to right, #00f260, #0575e6);
    --gr-velvetsun: linear-gradient(to right, #e1eec3, #f05053);
    --gr-grandeur: linear-gradient(to right, #000046, #1cb5e0);
    --gr-martini: linear-gradient(to top left, #fdfc47, #24fe41);
    --gr-combi: linear-gradient(to top left, #00416a, #799f0c, #ffe000);
    --gr-mushy: linear-gradient(to top left, #28b487, #7dd56f);

    /* Surfaces - Transparent */
    --bg-tr-white: rgba(255, 255, 255, 0.3);
    --bg-tr-black: rgba(0, 0, 0, 0.6);
    --bg-tr-rose: rgb(233, 64, 87, 0.3);

    /* Border radius */
    --br-sm: 0.4rem;
    --br-md: 0.8rem;
    --br-lg: 1.2rem;
    --br-xl: 2rem;
    --br-xxl: 3.2rem;
    --br-circle: 50%;

    /* Box shadow */
    --bs-default: 0 2px 5px rgba(0, 0, 0, 0.1);
    --bs-dark: 0 4px 7px rgba(0, 0, 0, 0.2);
    --bs-dark-big: 1px 1px 20px rgba(0, 0, 0, 0.4);

    /* Spacing */
    --sp-base: 0.8rem;
    --sp-1: calc(var(--sp-base) * 0.5); /* 4px */
    --sp-2: calc(var(--sp-base) * 1); /* 8px */
    --sp-3: calc(var(--sp-base) * 1.5); /* 12px */
    --sp-4: calc(var(--sp-base) * 2); /* 16px */
    --sp-5: calc(var(--sp-base) * 2.5); /* 20px */
    --sp-6: calc(var(--sp-base) * 3); /* 24px */
    --sp-7: calc(var(--sp-base) * 4); /* 32px */
    --sp-8: calc(var(--sp-base) * 6.5); /* 52px */
    --sp-9: calc(var(--sp-base) * 10.5); /* 84px */

    /* Colours */
    --color-white: #f3f3f3;
    --color-black: #0a0a23;
    --color-gray-light: #c8c8c8;
    --color-gray: #8e8e8e;
    --color-gray-dark: #444;
    --color-yellow: #ffc608;

    /* Dark light mode */
    /*
    --color-text: hsl(204, 100%, 1%);
    --color-surface: hsl(0, 0%, 100%);
    --color-primary: hsl(329, 85%, 53%);
    --color-secondary: hsl(208, 83%, 93%);
    --color-accent: hsl(89, 85%, 33%);
    @media (prefers-color-scheme: dark) {
      :root {
        --color-text: hsl(0, 0%, 100%);
        --color-surface: hsl(204, 100%, 1%);
        --color-primary: hsl(329, 85%, 53%);
        --color-secondary: hsl(208, 83%, 17%);
        --color-accent: hsl(89, 85%, 33%);
      }
    }

  */
}
