/*
min-width: mw-xx
width: w-xx
viewport-width: vw-100
*/

/* em media queries */
/*
80em = 1280px
70em = 1120px
60em = 960px
50em = 800px
40em = 640px
30em = 480px
25em = 400px
20em = 320px
*/

/* 
--------------------------------------------------------------------------------
VIEWPORT
--------------------------------------------------------------------------------
*/

.max-vh-100 {
    max-height: 100vh;
}
.max-vw-100 {
    max-width: 100vh;
}
.max-vh-90 {
    max-height: 90vh;
}
.max-vw-90 {
    max-width: 90vh;
}
