/*
FIXME: Better naming conventions for padding and margin 
*/

/* 
--------------------------------------------------------------------------------
VERTICAL RHYTHM
--------------------------------------------------------------------------------
*/

.flow > * + * {
    /* 
    - setting a variable that can adjusted on elements elsewhere
    - e.g. on a h2 I could set --flow-space:2em; 
    - 1em is the fallback and used by everything else
    - em used to give variable spacing based on font size
    - preferable to same spacing for h1 and p for example
    */
    margin-block-start: var(--flow-space, 1em);
}

/* 
--------------------------------------------------------------------------------
PADDING AND MARGINS
--------------------------------------------------------------------------------
*/

/*
Naming convention:
.{property}{sides}-{size}
.pb-x, pt-x, .pl-x, .pr-x, px-x, py-x
.mb-x, mt-x, .ml-x, .mr-x, mx-x, my-x
*/

/* Margin Utilities */
.mg-0 {
    margin: 0;
}
.mgb-8 {
    margin-bottom: var(--sp--2);
}

/* Padding Utilities */
.pd-0 {
    padding: 0;
}
.pd-4 {
    padding: var(--sp--3); /* 4px */
}
.pd-8 {
    padding: var(--sp--2); /* 8px */
}
.pd-16 {
    padding: var(--sp-base); /* 16px */
}
.pd-20 {
    padding: var(--sp-1); /* 20px */
}
.pd-24 {
    padding: var(--sp-2); /* 24px */
}

/* Positioning */
.mx-left {
    margin-left: auto;
}
.mx-right {
    margin-right: auto;
}
