/*
Naming convention:
.{property}{sides}-{size}
.pb-x, pt-x, .pl-x, .pr-x
.mb-x, mt-x, .ml-x, .mr-x
*/

/* Margin Utilities */
.m-0 {
    margin: 0;
}

/* Padding Utilities */
.p-0 {
    padding: 0;
}
.p-1 {
    padding: var(--sp-1); /* 4px */
}
.p-2 {
    padding: var(--sp-2); /* 8px */
}
.p-3 {
    padding: var(--sp-3); /* 12px */
}
.p-4 {
    padding: var(--sp-4); /* 16px */
}
.p-5 {
    padding: var(--sp-5); /* 20px */
}

/* Positioning */
.mx-left {
    margin-left: auto;
}
.mx-right {
    margin-right: auto;
}
