<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Layouts → 01 Simple Grids</title>
        <link rel="stylesheet" href="../../css/main.css" />
        <link
            rel="stylesheet"
            href="../../css/pages/layouts/01-simple-grids.css"
        />
        <script defer src="../../js/main.js"></script>
    </head>

    <body class="frame">
        <h1>Responsive grids</h1>
        <h3>CSS Grid <span class="text-light">Simple</span></h3>
        <div class="container container-simple">
            <div class="content-center bg-white"><h4>Item 1</h4></div>
            <div class="content-center bg-white"><h4>Item 2</h4></div>
            <div class="content-center bg-white"><h4>Item 3</h4></div>
            <div class="content-center bg-white"><h4>Item 4</h4></div>
            <div class="content-center bg-white"><h4>Item 5</h4></div>
            <div class="content-center bg-white"><h4>Item 6</h4></div>
            <div class="content-center bg-white"><h4>Item 7</h4></div>
            <div class="content-center bg-white"><h4>Item 8</h4></div>
            <div class="content-center bg-white"><h4>Item 9</h4></div>
            <div class="content-center bg-white"><h4>Item 10</h4></div>
            <div class="content-center bg-white"><h4>Item 11</h4></div>
            <div class="content-center bg-white"><h4>Item 12</h4></div>
        </div>
        <div class="container container-simple">
            <div class="p-5 bg-white">lorem ipsum dolor sit amet</div>
            <div class="p-5 bg-white">lorem ipsum dolor sit amet</div>
            <div class="p-5 bg-white">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </div>
            <div class="p-5 bg-white">lorem ipsum dolor sit amet</div>
            <div class="p-5 bg-white">lorem ipsum dolor sit amet</div>
            <div class="p-5 bg-white">lorem ipsum dolor sit amet</div>
            <div class="p-5 bg-white">lorem ipsum dolor sit amet</div>
            <div class="p-5 bg-white">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque
                molestiae et non optio voluptatem deleniti voluptatibus animi
                ullam aliquid quae illo dolores.
            </div>
            <div class="p-5 bg-white">lorem ipsum dolor sit amet</div>
            <div class="p-5 bg-white">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </div>
            <div class="p-5 bg-white">lorem ipsum dolor sit amet</div>
            <div class="p-5 bg-white">lorem ipsum dolor sit amet</div>
        </div>

        <h3>CSS Grid <span class="text-light">Simple gallery</span></h3>
        <div class="container container-gallery">
            <div>
                <img
                    src="https://picsum.photos/640/360?random=1"
                    alt="placeholder image"
                />
            </div>
            <div>
                <img
                    src="https://picsum.photos/640/360?random=2"
                    alt="placeholder image"
                />
            </div>
            <div>
                <img
                    src="https://picsum.photos/640/360?random=3"
                    alt="placeholder image"
                />
            </div>
            <div>
                <img
                    src="https://picsum.photos/640/360?random=4"
                    alt="placeholder image"
                />
            </div>
            <div>
                <img
                    src="https://picsum.photos/640/360?random=5"
                    alt="placeholder image"
                />
            </div>
            <div>
                <img
                    src="https://picsum.photos/640/360?random=6"
                    alt="placeholder image"
                />
            </div>
        </div>
        <h3>CSS Grid <span class="text-light">Gallery flow dense</span></h3>
        <div class="container container-gallery--dense">
            <div>
                <img
                    src="https://picsum.photos/640/360?random=1"
                    alt="placeholder image"
                />
            </div>
            <div class="vertical">
                <img
                    src="https://picsum.photos/640/360?random=2"
                    alt="placeholder image"
                />
            </div>
            <div class="horizontal">
                <img
                    src="https://picsum.photos/640/360?random=3"
                    alt="placeholder image"
                />
            </div>
            <div>
                <img
                    src="https://picsum.photos/640/360?random=4"
                    alt="placeholder image"
                />
            </div>
            <div>
                <img
                    src="https://picsum.photos/640/360?random=5"
                    alt="placeholder image"
                />
            </div>
            <div class="big">
                <img
                    src="https://picsum.photos/640/360?random=6"
                    alt="placeholder image"
                />
            </div>
            <div>
                <img
                    src="https://picsum.photos/640/360?random=7"
                    alt="placeholder image"
                />
            </div>
            <div class="horizontal">
                <img
                    src="https://picsum.photos/640/360?random=8"
                    alt="placeholder image"
                />
            </div>
            <div class="vertical">
                <img
                    src="https://picsum.photos/640/360?random=9"
                    alt="placeholder image"
                />
            </div>
            <div>
                <img
                    src="https://picsum.photos/640/360?random=10"
                    alt="placeholder image"
                />
            </div>
            <div class="big">
                <img
                    src="https://picsum.photos/640/360?random=11"
                    alt="placeholder image"
                />
            </div>
            <div>
                <img
                    src="https://picsum.photos/640/360?random=12"
                    alt="placeholder image"
                />
            </div>
            <div>
                <img
                    src="https://picsum.photos/640/360?random=13"
                    alt="placeholder image"
                />
            </div>
            <div class="horizontal">
                <img
                    src="https://picsum.photos/640/360?random=14"
                    alt="placeholder image"
                />
            </div>
            <div>
                <img
                    src="https://picsum.photos/640/360?random=15"
                    alt="placeholder image"
                />
            </div>
            <div class="big">
                <img
                    src="https://picsum.photos/640/360?random=16"
                    alt="placeholder image"
                />
            </div>
            <div>
                <img
                    src="https://picsum.photos/640/360?random=17"
                    alt="placeholder image"
                />
            </div>
            <div class="vertical">
                <img
                    src="https://picsum.photos/640/360?random=18"
                    alt="placeholder image"
                />
            </div>
        </div>

        <h3>Flexbox <span class="text-light">Variable wraps</span></h3>
        <div class="container container-variable">
            <div class="content-center bg-white"><h4>Short</h4></div>
            <div class="content-center bg-white">
                <h4>Longerrrrrrrrrrrrrr</h4>
            </div>
            <div class="content-center bg-white"><h4>💩</h4></div>
            <div class="content-center bg-white">
                <h4>This is Many Words</h4>
            </div>
            <div class="content-center bg-white"><h4>Lorem, ipsum.</h4></div>
            <div class="content-center bg-white"><h4>10</h4></div>
            <div class="content-center bg-white"><h4>KitKat</h4></div>
            <div class="content-center bg-white"><h4>Chris Is Cool</h4></div>
            <div class="content-center bg-white"><h4>Short</h4></div>
        </div>
        <div class="container container-variable-2">
            <div class="content-center bg-white"><h4>Short</h4></div>
            <div class="content-center bg-white">
                <h4>Longerrrrrrrrrrrrrr</h4>
            </div>
            <div class="content-center bg-white"><h4>💩</h4></div>
            <div class="content-center bg-white">
                <h4>This is many many man words</h4>
            </div>
            <div class="content-center bg-white"><h4>Lorem, ipsum.</h4></div>
            <div class="content-center bg-white"><h4>10</h4></div>
            <div class="content-center bg-white"><h4>KitKat</h4></div>
            <div class="content-center bg-white"><h4>Chris Is Cool</h4></div>
            <div class="content-center bg-white"><h4>Short</h4></div>
        </div>
    </body>
</html>
