<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Layouts → 03 Alternating Grid</title>

        <link rel="stylesheet" href="../../css/main.css" />
        <link
            rel="stylesheet"
            href="../../css/pages/layouts/03-alternating-grid.css"
        />
        <script defer src="../../js/main.js"></script>
    </head>

    <body class="frame">
        <h1>Alternating Grid</h1>
        <main class="wrapper fixed p-5">
            <article>
                <img
                    src="https://source.unsplash.com/random/600×600/?dogs,v=1"
                    alt="Doggy pops!"
                />
                <div class="content">
                    <h2>Headline #1</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nullam vulputate est non neque faucibus elementum.
                    </p>
                    <a class="button" href="#" title="CTA"
                        ><span>Do this </span></a
                    >
                </div>
            </article>
            <article>
                <img
                    src="https://source.unsplash.com/random/600×600/?dogs,v=2"
                    alt="Doggy pops!"
                />
                <div class="content">
                    <h2>Headline #2</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nullam vulputate est non neque faucibus elementum.
                    </p>
                    <a class="button" href="#" title="CTA"
                        ><span>Do this </span></a
                    >
                </div>
            </article>
            <article>
                <img
                    src="https://source.unsplash.com/random/600×600/?dogs,v=3"
                    alt="Doggy pops!"
                />
                <div class="content">
                    <h2>Headline #3</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum rhoncus urna sed mauris facilisis convallis.
                        Nam blandit, ante ut ultricies iaculis, sem ligula
                        molestie ipsum, mollis iaculis diam urna eget massa. Nam
                        ultrices, leo sed iaculis egestas, sem eros tincidunt
                        turpis, ac malesuada massa purus vel elit. Etiam
                        sagittis enim in commodo ultrices. Nunc laoreet nisi
                        lacus, sit amet sagittis nunc tincidunt et.
                    </p>
                    <p>
                        Mauris mattis aliquet dui, sed facilisis purus auctor
                        in. Quisque tincidunt quam eget orci vestibulum
                        porttitor. Nulla semper congue magna sit amet imperdiet.
                        Integer.
                    </p>
                    <a class="button" href="#" title="CTA"
                        ><span>Do this </span></a
                    >
                </div>
            </article>
        </main>
    </body>
</html>
