<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Layouts → 04 Minimal Grid</title>
        <link rel="stylesheet" href="../../css/main.css" />
        <link
            rel="stylesheet"
            href="../../css/pages/layouts/04-minimal-grid.css"
        />
        <script defer src="../../js/main.js"></script>
    </head>

    <body class="frame">
        <h1>Minimal Grid</h1>
        <div class="wrapper fixed">
            <header class="bg-white">
                <h3 class="p-0 m-0">🐸 Header</h3>
            </header>
            <nav>
                <ul class="layout__nav">
                    <li class="bg-black">Item 1</li>
                    <li class="bg-black">Item 2</li>
                    <li class="bg-black">Item 3</li>
                    <li class="bg-black">Item 4</li>
                    <li class="bg-black">Item 5</li>
                    <li class="bg-black">Item 6</li>
                </ul>
            </nav>
            <div class="layout__main">
                <section class="bg-white item-type-a p-5">
                    <h3>Item A</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Praesentium dolores possimus, dolor consectetur natus
                        dolorem velit dolore ut. Nesciunt quam maiores voluptas
                        animi expedita sunt corrupti iure, provident vitae
                        repudiandae!
                    </p>
                </section>
                <section class="bg-white item-type-b p-5">
                    <h3>Item B</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Praesentium dolores possimus, dolor consectetur natus
                        dolorem velit dolore ut. Nesciunt quam maiores voluptas
                        animi expedita sunt corrupti iure, provident vitae
                        repudiandae!
                    </p>
                </section>
                <section class="bg-white item-type-b p-5">
                    <h3>Item B</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Praesentium dolores possimus, dolor consectetur natus
                        dolorem velit dolore ut. Nesciunt quam maiores voluptas
                        animi expedita sunt corrupti iure, provident vitae
                        repudiandae!
                    </p>
                </section>
                <section class="bg-white layout__inner">
                    <section class="item-inner bg-black">
                        Aside A<span>Lorem ipum dolor sit amet</span>
                    </section>
                    <section class="item-inner bg-black">
                        Aside B<span>Lorem ipum dolor sit amet</span>
                    </section>
                    <section class="item-inner bg-black">
                        Aside C<span>Lorem ipum dolor sit amet</span>
                    </section>
                    <section class="item-inner bg-black">
                        Aside D<span>Lorem ipum dolor sit amet</span>
                    </section>
                    <section class="item-inner bg-black">
                        Aside E<span>Lorem ipum dolor sit amet</span>
                    </section>
                </section>
            </div>

            <footer class="bg-white">
                <h3 class="p-0 m-0">🦶 Footer</h3>
            </footer>
        </div>
    </body>
</html>
