<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Layouts → 05 Card grid</title>
        <link rel="stylesheet" href="../../css/main.css" />
        <link
            rel="stylesheet"
            href="../../css/pages/layouts/05-card-grid.css"
        />
        <script defer type="module" src="../../js/main.js"></script>
    </head>

    <body class="body-frame">
        <h1>Card grid</h1>
        <div class="wrapper fixed-l">
            <div class="item-1">
                <a href="#" class="card bg-white">
                    <img
                        src="	https://source.unsplash.com/random/500x500?dog,v=1"
                        alt="Doggy pops!"
                    />
                    <article class="flow">
                        <h3>Lorem ipsum dolor</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Hic molestias quo doloribus dignissimos porro
                            ipsam, praesentium natus quas debitis odio at nemo
                            quia iste deserunt qui vel veritatis adipisci
                            obcaecati.
                        </p>
                        <span>Tony Yeboah</span>
                    </article>
                </a>
            </div>
            <div class="item-2">
                <a href="#" class="card bg-white">
                    <img
                        src="	https://source.unsplash.com/random/500x500?dog,v=2"
                        alt="Doggy pops!"
                    />
                    <article class="flow">
                        <h3>Lorem ipsum dolor ipsum dolor sit amet</h3>
                        <span>Tony Dorigo</span>
                    </article>
                </a>
            </div>
            <div class="item-3">
                <a href="#" class="card bg-white">
                    <img
                        src="	https://source.unsplash.com/random/500x500?dog,v=3"
                        alt="Doggy pops!"
                    />
                    <article class="flow">
                        <h3>Lorem ipsum dolor</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Magni dignissimos fugit quo beatae sit sequi
                            tenetur blanditiis iure libero.
                        </p>
                        <span>Anthony</span>
                    </article>
                </a>
            </div>
            <div class="item-4">
                <a href="#" class="card bg-white">
                    <img
                        src="	https://source.unsplash.com/random/500x500?dog,v=4"
                        alt="Doggy pops!"
                    />
                    <article class="flow">
                        <h3>Lorem ipsum dolor</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Magni dignissimos fugit quo beatae sit sequi
                            tenetur blanditiis iure libero.
                        </p>
                        <span>Tony Adams</span>
                    </article>
                </a>
            </div>
            <div class="item-5">
                <a href="#" class="card bg-white">
                    <img
                        src="	https://source.unsplash.com/random/500x500?dog,v=5"
                        alt="Doggy pops!"
                    />
                    <article class="flow">
                        <h3>Lorem ipsum dolor</h3>
                        <span>Ivan Toni</span>
                    </article>
                </a>
            </div>
            <div class="item-6">
                <a href="#" class="card bg-white">
                    <img
                        src="	https://source.unsplash.com/random/500x500?dog,v=6"
                        alt="Doggy pops!"
                    />
                    <article class="flow">
                        <h3>Lorem ipsum dolor ipsum dolor sit amet</h3>
                        <span>Tony Meola</span>
                    </article>
                </a>
            </div>
            <div class="item-7">
                <a href="#" class="card bg-white">
                    <img
                        src="	https://source.unsplash.com/random/500x300?dog,v=7"
                        alt="Doggy pops!"
                    />
                    <article class="flow">
                        <h3>Lorem ipsum dolor ipsum</h3>
                        <span>Antonio Di Natale</span>
                    </article>
                </a>
            </div>
        </div>
    </body>
</html>
