<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Layouts → 06 Card grid extra</title>
        <link rel="stylesheet" href="../../css/main.css" />
        <link
            rel="stylesheet"
            href="../../css/pages/layouts/06-card-grid-extra.css"
        />
        <script defer type="module" src="../../js/main.js"></script>
    </head>

    <body>
        <div class="wrapper">
            <main class="card-grid">
                <div class="item-1">
                    <a href="#" class="card bg-white">
                        <img
                            src="	https://source.unsplash.com/random/500x500?dog,v=1"
                            alt="Doggy pops!"
                        />
                        <article class="flow">
                            <h3>Lorem ipsum dolor</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Hic molestias quo doloribus
                                dignissimos porro ipsam, praesentium natus quas
                                debitis odio at nemo quia iste deserunt qui vel
                                veritatis adipisci obcaecati.
                            </p>
                        </article>
                    </a>
                </div>
                <div class="item-2">
                    <a href="#" class="card bg-white">
                        <img
                            src="	https://source.unsplash.com/random/500x500?dog,v=2"
                            alt="Doggy pops!"
                        />
                        <article class="flow">
                            <h3>Lorem ipsum dolor</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Hic molestias quo doloribus
                                dignissimos.
                            </p>
                        </article>
                    </a>
                </div>
                <div class="item-3">
                    <a href="#" class="card bg-white">
                        <img
                            src="	https://source.unsplash.com/random/500x500?dog,v=3"
                            alt="Doggy pops!"
                        />
                        <article class="flow">
                            <h3>Lorem ipsum dolor</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Hic molestias quo doloribus
                                dignissimos porro ipsam.
                            </p>
                        </article>
                    </a>
                </div>
                <div class="item-4">
                    <a href="#" class="card bg-white">
                        <img
                            src="	https://source.unsplash.com/random/500x500?dog,v=4"
                            alt="Doggy pops!"
                        />
                        <article class="flow">
                            <h3>Lorem ipsum dolor</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Hic molestias quo doloribus
                                dignissimos porro ipsam, praesentium natus quas
                                debitis odio at nemo quia iste deserunt qui vel
                                veritatis adipisci obcaecati.
                            </p>
                        </article>
                    </a>
                </div>
                <div class="item-5">
                    <a href="#" class="card bg-white">
                        <img
                            src="	https://source.unsplash.com/random/500x500?dog,v=5"
                            alt="Doggy pops!"
                        />
                        <article class="flow">
                            <h3>Lorem ipsum dolor</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Hic molestias quo doloribus
                                dignissimos porro ipsam, praesentium natus quas
                                debitis odio at nemo quia iste deserunt qui vel
                                veritatis adipisci obcaecati.
                            </p>
                        </article>
                    </a>
                </div>
                <div class="item-6">
                    <a href="#" class="card bg-white">
                        <img
                            src="	https://source.unsplash.com/random/500x500?dog,v=6"
                            alt="Doggy pops!"
                        />
                        <article class="flow">
                            <h3>Lorem ipsum dolor</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Hic molestias quo doloribus
                                dignissimos porro ipsam.
                            </p>
                        </article>
                    </a>
                </div>
                <div class="item-7">
                    <a href="#" class="card bg-white">
                        <img
                            src="	https://source.unsplash.com/random/500x500?dog,v=7"
                            alt="Doggy pops!"
                        />
                        <article class="flow">
                            <h3>Lorem ipsum dolor</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. Sint officia rem numquam
                                possimus, quia architecto dolorem ex neque?
                                Dolor dolores provident, aliquid dolorum unde et
                                cumque laborum corrupti assumenda commodi.
                            </p>
                        </article>
                    </a>
                </div>
            </main>
            <aside class="card-grid bg-black">
                <div class="item-1">
                    <a href="#" class="card bg-white">
                        <img
                            src="	https://source.unsplash.com/random/500x500?dog,v=10"
                            alt="Doggy pops!"
                        />
                        <article class="flow">
                            <h3>Lorem ipsum dolor</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Hic molestias quo doloribus
                                dignissimos porro ipsam, praesentium natus quas
                                debitis odio at nemo quia iste deserunt qui vel
                                veritatis adipisci obcaecati.
                            </p>
                        </article>
                    </a>
                </div>
                <div class="item-2">
                    <a href="#" class="card bg-white">
                        <img
                            src="	https://source.unsplash.com/random/500x500?dog,v=11"
                            alt="Doggy pops!"
                        />
                        <article class="flow">
                            <h3>Lorem ipsum dolor</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Hic molestias quo doloribus
                                dignissimos porro ipsam, praesentium natus quas
                                debitis odio at nemo quia iste deserunt qui vel
                                veritatis adipisci obcaecati.
                            </p>
                        </article>
                    </a>
                </div>
                <div class="item-3">
                    <a href="#" class="card bg-white">
                        <img
                            src="	https://source.unsplash.com/random/500x500?dog,v=12"
                            alt="Doggy pops!"
                        />
                        <article class="flow">
                            <h3>Lorem ipsum dolor</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Hic molestias quo doloribus
                                dignissimos porro ipsam, praesentium natus quas
                                debitis odio at nemo quia iste deserunt qui vel
                                veritatis adipisci obcaecati.
                            </p>
                        </article>
                    </a>
                </div>
                <div class="item-4">
                    <a href="#" class="card bg-white">
                        <img
                            src="	https://source.unsplash.com/random/500x500?dog,v=13"
                            alt="Doggy pops!"
                        />
                        <article class="flow">
                            <h3>Lorem ipsum dolor</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Hic molestias quo doloribus
                                dignissimos porro ipsam, praesentium natus quas
                                debitis odio at nemo quia iste deserunt qui vel
                                veritatis adipisci obcaecati.
                            </p>
                        </article>
                    </a>
                </div>
            </aside>
        </div>
    </body>
</html>
