<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Layouts → 07 Minimal grid</title>
        <link rel="stylesheet" href="../../css/main.css" />
        <link
            rel="stylesheet"
            href="../../css/pages/layouts/07-minimal-grid.css"
        />
        <script defer src="../../js/main.js"></script>
    </head>

    <body class="frame">
        <h1>Minimal Grid</h1>
        <main class="wrapper">
            <header class="bg-white>
                <h3 class="pd-0 mg-0">🐸 Header - minmax grid rows</h3>
            </header>
            <div class="panel bg-rose flow">
                <h3>Panel A</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Praesentium dolores possimus.
                </p>
            </div>
            <div class="panel bg-rose">
                <h3>Panel B</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Praesentium dolores possimus.
                </p>
            </div>
            <div class="panel bg-black tall-panel">
                <h3>Panel C</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Praesentium dolores possimus.
                </p>
            </div>
            <div class="panel bg-rose">
                <h3>Panel D</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Praesentium dolores possimus.
                </p>
            </div>
            <div class="panel bg-rose">
                <h3>Panel E</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Praesentium dolores possimus.
                </p>
            </div>
            <div class="panel bg-rose">
                <h3>Panel F</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Praesentium dolores possimus.
                </p>
            </div>
            <div class="panel bg-black tall-panel">
                <h3>Panel G</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Praesentium dolores possimus.
                </p>
            </div>
            <div class="panel bg-black tall-panel">
                <h3>Panel H</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Praesentium dolores possimus.
                </p>
            </div>
            <div class="panel bg-rose">
                <h3>Panel I</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Praesentium dolores possimus.
                </p>
            </div>
            <div class="panel bg-rose">
                <h3>Panel J</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Praesentium dolores possimus.
                </p>
            </div>
            <footer class="bg-white">
                <h3 class="pd-0 mg-0">🦶 Footer</h3>
            </footer>
        </main>
    </body>
</html>
