<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Layouts → 08 Holy grail</title>
        <link rel="stylesheet" href="../../css/main.css" />
        <link
            rel="stylesheet"
            href="../../css/pages/layouts/08-holy-grail.css"
        />
        <script defer src="../../js/main.js"></script>
    </head>

    <body class="frame">
        <h1>Holy grail layout</h1>

        <div class="container">
            <header class="header bg-white">
                <h3>🐸 Header</h3>
            </header>
            <nav class="nav bg-black">
                <h3>Nav</h3>
            </nav>
            <main class="main">
                <article class="bg-rose">
                    <h3>Article</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Cum explicabo pariatur incidunt recusandae odit maxime
                        alias nobis. Eum magni tenetur facilis minus ratione,
                        perspiciatis eligendi suscipit asperiores officiis quis
                        iste.
                    </p>
                </article>
                <article class="bg-rose">
                    <h3>Article</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Cum explicabo pariatur incidunt recusandae odit maxime
                        alias nobis. Eum magni tenetur facilis minus ratione,
                        perspiciatis eligendi suscipit asperiores officiis quis
                        iste.
                    </p>
                </article>
                <article class="bg-rose">
                    <h3>Article</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Cum explicabo pariatur incidunt recusandae odit maxime
                        alias nobis. Eum magni tenetur facilis minus ratione,
                        perspiciatis eligendi suscipit asperiores officiis quis
                        iste.
                    </p>
                </article>
                <article class="bg-rose">
                    <h3>Article</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Cum explicabo pariatur incidunt recusandae odit maxime
                        alias nobis. Eum magni tenetur facilis minus ratione,
                        perspiciatis eligendi suscipit asperiores officiis quis
                        iste.
                    </p>
                </article>
            </main>
            <aside class="sidebar bg-black">
                <h3>Aside</h3>
            </aside>
            <footer class="footer bg-white">
                <h3>🦶 Footer</h3>
            </footer>
        </div>
    </body>
</html>
