<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Layouts → 11 Breaking the grid</title>
        <link rel="stylesheet" href="../../css/main.css" />
        <link
            rel="stylesheet"
            href="../../css/pages/layouts/11-breaking-the-grid.css"
        />
        <script defer src="../../js/main.js"></script>
    </head>

    <body>
        <main>
            <article class="wrapper container flow">
                <h1>Responsive layout</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Quaerat obcaecati ratione adipisci repudiandae, facere,
                    fugit omnis reprehenderit ipsam voluptatum commodi molestias
                    praesentium vero recusandae numquam aperiam incidunt ullam.
                    Sapiente, ad?
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Quaerat obcaecati ratione adipisci repudiandae, facere,
                    fugit omnis reprehenderit ipsam voluptatum commodi molestias
                    praesentium vero recusandae numquam aperiam incidunt ullam.
                    Sapiente, ad?
                </p>

                <h3>
                    Nemo rem itaque laboriosam porro, maxime, esse natus rerum.
                </h3>
                <img
                    src="https://source.unsplash.com/1000x800"
                    alt="Big Ass Image"
                    class="big-image"
                />
                <h3>
                    Nemo rem itaque laboriosam porro, maxime, esse natus rerum.
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
                    tempora cupiditate, temporibus porro enim animi deleniti non
                    similique quo ex excepturi, ut optio, facilis dolorum odio
                    vel distinctio recusandae totam?
                </p>
                <ul>
                    <li>
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Similique velit possimus aliquam consequatur
                        nesciunt eveniet minima quibusdam.
                    </li>
                    <li>
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Similique velit possimus aliquam consequatur
                        nesciunt eveniet minima quibusdam.
                    </li>
                    <li>
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Similique velit possimus aliquam consequatur
                        nesciunt eveniet minima quibusdam.
                    </li>
                </ul>
                <img
                    src="https://source.unsplash.com/1000x800"
                    alt="Big Ass Image"
                />
                <h3>
                    Nemo rem itaque laboriosam porro, maxime, esse natus rerum.
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
                    tempora cupiditate, temporibus porro enim animi deleniti non
                    similique quo ex excepturi, ut optio, facilis dolorum odio
                    vel distinctio recusandae totam?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
                    tempora cupiditate, temporibus porro enim animi deleniti non
                    similique quo ex excepturi, ut optio, facilis dolorum odio
                    vel distinctio recusandae totam?
                </p>

                <img
                    src="https://source.unsplash.com/1000x800"
                    alt="Big Ass Image"
                    class="big-image"
                />
                <h3>
                    Nemo rem itaque laboriosam porro, maxime, esse natus rerum.
                </h3>
                <p class="cta">
                    <strong>This is a callout</strong> Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Architecto, non neque!
                    Aperiam laudantium fuga nulla repellendus vero totam quaerat
                    laboriosam, similique iste iusto et reprehenderit facilis
                    incidunt voluptatum neque cum?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Expedita eveniet labore et quo enim maiores perferendis
                    mollitia velit quos. Deserunt odit aspernatur aliquid maxime
                    dolores aperiam, perspiciatis cupiditate. Hic, pariatur?
                </p>
            </article>
        </main>
    </body>
</html>
