/*
- The Stack / Vertical rhythm
- The Box / Basic box padding
- The Center / Center elements
- The Sidebar / Flex based responsive sidebar
- The Cluster / Groups of similar elements
- The Switcher /
*/

/* 
--------------------------------------------------------------------------------
THE STACK
--------------------------------------------------------------------------------
*/

.stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.stack > * {
    margin-block: 0;
}
.stack > * + * {
    margin-block-start: var(--sp-base);
}
.stack-large > * + * {
    margin-block-start: var(--sp-2);
}
.stack-small > * + * {
    margin-block-start: var(--sp--2);
}
/* flexbox allows to separate items vertically (i.e. Card) */
/*
.stack > :nth-child(2) {
    margin-block-end: auto;
}
*/
/* exception above and below */
/* or just above*/
.stack-exception,
.stack-exception > * {
    margin-block-start: var(--sp-5);
}
.stack:only-child {
    /* ↓ `height` in horizontal-tb writing mode */
    block-size: 100%;
}

/* 
--------------------------------------------------------------------------------
THE BOX
--------------------------------------------------------------------------------
*/

.box {
    padding: var(--sp-base);
    color: var(--clr-black);
    background-color: var(--bg-tr-white);
    outline: 0.125rem solid transparent;
    outline-offset: -0.125rem;
}

.box * {
    color: inherit;
}
.box.invert {
    color: var(--clr-white);
    background-color: var(--bg-tr-black);
}

/* 
--------------------------------------------------------------------------------
THE CENTER
--------------------------------------------------------------------------------
*/
.center {
    box-sizing: content-box;
    max-inline-size: 60ch;
    margin-inline: auto;
}
/* 
--------------------------------------------------------------------------------
THE SIDEBAR
--------------------------------------------------------------------------------
*/
.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp-base);
}

/* 
- Swap with-sidebar to :last-child if right column
- flex-basis on :first-child to set sidebar fixed width
- flex-grow: 999 takes all avilable space and squashes down the sidebar to ideal size
*/

.with-sidebar > :first-child {
    /* ↓ The width when the sidebar _is_ a sidebar */
    flex-basis: 20em; /* Set if sidebar fixed width */
    flex-grow: 1;
}

.with-sidebar > :last-child {
    /* ↓ Grow from nothing */
    flex-basis: 0;
    flex-grow: 999;
    /* ↓ Wrap when the elements are of equal width (50%, or another %) */
    min-inline-size: 60%; /* Determines when wrapping happens */
}
/* 
--------------------------------------------------------------------------------
THE CLUSTER
--------------------------------------------------------------------------------
*/

.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp-base, 1rem);
    justify-content: flex-start;
    align-items: center;
}

.cluster.cluster-space {
    justify-content: space-between;
}

/* 
--------------------------------------------------------------------------------
THE SWITCHER
--------------------------------------------------------------------------------
*/

.switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp-base);
}

.switcher > * {
    flex-grow: 1;
    /* ↓ 40rem is the threshold width to trigger the switch */
    flex-basis: calc((40rem - 100%) * 999);
}

.switcher > :nth-last-child(n + 5),
.switcher > :nth-last-child(n + 5) ~ * {
    flex-basis: 100%;
}

/* 
--------------------------------------------------------------------------------
THE COVER
--------------------------------------------------------------------------------
*/

.cover {
    display: flex;
    flex-direction: column;
    min-block-size: 100vh;
    padding: var(--sp-base);
}

.cover > * {
    margin-block: var(--sp-base);
}

.cover > :first-child:not(h1) {
    margin-block-start: 0;
}

.cover > :last-child:not(h1) {
    margin-block-end: 0;
}

.cover > h1 {
    margin-block: auto;
    text-align: center !important; /* Remove as necessary */
}
