/* 
--------------------------------------------------------------------------------
WRAPPER
--------------------------------------------------------------------------------
*/
.wrapper {
    border: 5px dashed var(--clr-black);
    background: var(--bg-tr-white);
}

/* Frame around content */
body.body-frame {
    margin: var(--sp-8);
    min-height: calc(100vh - calc(var(--sp-8) * 2));
}

/*
FIXME: Padding clamp
Maybe a clamp is best for responsive padding
padding: clamp(1rem, 2vw, 5rem);
*/

/* Responsive tactic to reduce frame margin when at mobile sizes */
@media (width < 700px) {
    body.body-frame {
        margin: var(--sp-2);
    }
}

/* Fixed width wrapper */
.fixed-s {
    /* all in one method */
    /* width: min(100% - 6.4rem, 60rem); */
    max-width: 60rem; /* Avoiding an not-needed breakpoint definition */
    margin-inline: auto; /* Centers the container */
}

.fixed {
    /* all in one method */
    /* width: min(100% - 6.4rem, 100rem); */
    max-width: 100rem; /* Avoiding an not-needed breakpoint definition */
    margin-inline: auto; /* Centers the container */
}
.fixed-l {
    /* all in one method */
    /* width: min(100% - 6.4rem, 120rem); */
    max-width: 124rem; /* Avoiding an not-needed breakpoint definition */
    margin-inline: auto; /* Centers the container */
}

/* 
--------------------------------------------------------------------------------
DEMO STYLING
--------------------------------------------------------------------------------
*/

/* Demo blocks to illustrate grid items */
.bg-white {
    background: var(--bg-tr-white);
}

.bg-rose {
    background: var(--bg-tr-rose);
}

.bg-black {
    background: var(--bg-tr-black);
    color: var(--clr-white);
}

.bg-yellow {
    background: var(--clr-yellow);
}

/* 
--------------------------------------------------------------------------------
POSITIONING
--------------------------------------------------------------------------------
*/

/* Use values in this class for sub items demoed in grids */
.content-center {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 4.8rem 2rem;

    & > * {
        margin: 0;
    }
}
