body {
    background-image: var(--gr-combi);
    min-height: 100vh;

    display: grid;
    place-content: center;
    text-align: center;
}

.card {
    display: grid;
    grid-template-columns: 3rem 30rem 3rem;
    grid-template-rows: repeat(3, auto);
}

.welcome {
    grid-column: 1 / -1;
    grid-row: 1 / 3;

    border-radius: var(--br-lg);

    /* Subgrid not available in chrome to version 117 */
    /* Subgrid lives on the parent grid, shares its grid*/
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
}

.subgrid {
    grid-column: 2 / 3;

    padding: 1em 0;
    color: var(--clr-white);

    & p {
        font-weight: 300;
    }
}

.start {
    background: var(--clr-white);
    grid-column: 2 / 3;
    grid-row: 2 / 4;

    border-radius: var(--br-lg);

    /* distribute vertically the contents */
    display: flex;
    flex-direction: column;
    gap: var(--sp-5);

    & img {
        border-radius: var(--br-circle);
        max-width: 10rem;
    }

    & p {
        font-weight: 700;
    }

    .status {
        border: 1px solid var(--clr-gray-light);
        border-radius: 100vw;
        padding: var(--sp-1) var(--sp-2);
        font-size: 1.2rem;

        /* centers, and fits border to content NOT full width */
        margin-inline: auto;
        width: max-content;

        /* Align status dot */
        display: flex;
        align-items: center;
        gap: var(--sp-1);

        &::before {
            content: '';
            display: inline-block;
            height: 1rem;
            border-radius: var(--br-circle);
            aspect-ratio: 1 / 1;
        }

        &[data-status='active'] {
            &::before {
                background: limegreen;
            }
        }
        &[data-status='not-active'] {
            &::before {
                background: red;
            }
        }
    }
}
