body {
    background: var(--gr-fizz);
}

.preload * {
    transition: none !important;
    animation-duration: 0.001s !important;
}

.wrapper {
    z-index: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.popup-modal {
    width: min(100% - 6rem, 50rem);
    background-color: var(--color-white);
    border-radius: var(--br-lg);
    pointer-events: none;
    opacity: 0%;
    text-align: center;
    z-index: 10;

    position: fixed;
    top: 50%;
    left: 50%;
    /* transform-origin: center; */

    /* Transition setup for position and opacity */
    transition:
        transform 0.3s ease-in-out,
        opacity 0.3s ease;
    transform: translate(-50%, -100%);
}

.backdrop {
    pointer-events: none;
    position: fixed;
    inset: 0;
    background: var(--color-black);
    opacity: 0%;

    transition: opacity 0.3s ease-out;
}

/* Event trigger classes */

.popup-modal.show {
    opacity: 100%;
    pointer-events: all;

    /* move modal into central position */
    transform: translate(-50%, -50%);
}

.backdrop.show {
    opacity: 50%;
}
