body {
    background-image: var(--gr-expresso);
}

/* 
--------------------------------------------------------
FORM STRUCTURE
--------------------------------------------------------
*/

/* FIXME: hr is global element  */

hr {
    box-shadow: none;
    border: 0.5rem solid rgba(0, 0, 0, 0.2);
    /* margin: 3rem 0 0 0; */
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

label {
    display: flex;
    align-items: center;
    gap: var(--sp-2);
}

.form-group {
    margin-bottom: var(--sp-6);
}

.label--m,
.fieldset__legend--m {
    margin-bottom: var(--sp-2);
    font-weight: 700;
    font-size: var(--fs-md);
}
.input__hint {
    margin-top: -0.8rem;
    margin-bottom: var(--sp-2);
    color: var(--color-gray-dark);
}

.input__hint--error {
    color: rgb(130, 2, 2);
}

/* .form-group {
    margin: 0 auto var(--sp-6) auto;
}

/* 
--------------------------------------------------------
INPUT, SELECT
--------------------------------------------------------
*/

.input-text,
.input-select {
    width: 100%;
    border: 0.4rem solid var(--color-black);
    border-radius: var(--br-sm);
    padding: var(--sp-2);
    min-height: 4.4rem;
    line-height: var(--lh-default);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-black);
    background-color: var(--color-white);

    font-size: var(--fs-md);
}

/* 
--------------------------------------------------------
RADIO, CHECKBOX
--------------------------------------------------------
*/

/* 
https://moderncss.dev/pure-css-custom-styled-radio-buttons/
https://moderncss.dev/pure-css-custom-styled-radio-buttons/
*/

.radio__label,
.check__label {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--sp-2);
    margin-bottom: var(--sp-2);
    font-size: var(--fs-base);
}

@media (min-width: 37.5em) {
    /* Below 37.5em all inputs 100% width */
    .input--width-full {
        width: 100% !important;
    }
    .input--width-three-quarters {
        width: 75% !important;
    }
    .input--width-half {
        width: 50% !important;
    }
    .input--width-third {
        width: 33% !important;
    }
}

/* Remove last child margin bottom */
.form-group > .radio__label:last-child,
.form-group > .check__label:last-child,
.question__list > li:last-child > .radio__label {
    margin-bottom: 0;
}

input[type='radio'],
input[type='checkbox'],
.radio__label,
.check__label {
    cursor: pointer;
}

input[type='radio'] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: var(--color-white);
    /* Not removed via appearance */
    margin: 0;

    width: 4.4rem;
    height: 4.4rem;
    border: 0.4rem solid var(--color-black);
    border-radius: var(--br-circle);
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type='radio']::before {
    content: '';
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 100ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-black);

    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

input[type='radio']:checked::before {
    transform: scale(1);
}

input[type='checkbox'] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: var(--color-white);
    /* Not removed via appearance */
    margin: 0;

    width: 4.4rem;
    height: 4.4rem;
    border: 0.4rem solid var(--color-black);
    border-radius: var(--br-sm);
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type='checkbox']::before {
    content: '';
    width: 2rem;
    height: 2rem;
    transform: scale(0);
    transition: 100ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-black);

    /* Windows High Contrast Mode */
    background-color: CanvasText;

    transform-origin: bottom;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type='checkbox']:checked::before {
    transform: scale(1);
}

/* 
--------------------------------------------------------
ERRORS, REQUIRED
--------------------------------------------------------
*/

/* Required styling */
input:required {
    /* border: 2px solid red; */
}

input:invalid {
    /* border-color: red; */
}

.form-group.error {
    border-left: 5px solid red;
    padding-left: var(--sp-4);
}

/* 
--------------------------------------------------------
QUESTIONS
--------------------------------------------------------
*/

.question__num::before {
    content: 'Question #';
}

ul.question__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
