/*
TODO: Secondary, outline styles
TODO: Move variables
FIXME: Flexible paddings using calc or clamp
FIXME: More robust responsive behavior
TODO: Explore SASS mixins complex structures
*/

/*
<button class="btn btn--inverse"><span>Clear</span></button>
*/

:root {
    --btn-font-sm: 0.875em;
    --btn-font-md: 1em;
    --btn-font-lg: 1.25em;
}

/* 
--------------------------------------------------------------------------------
CORE
--------------------------------------------------------------------------------
*/

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0 1em; /* 16px, 0 because affects min-height */
    min-height: 2.75rem;

    border: 3px solid var(--clr-black);
    border-radius: var(--br-xxl);
    color: var(--clr-black);

    /* font-size: var(--btn-font-md); */
    font-size: var(--btn-font-md);
    font-weight: var(--fw-bold);
    text-decoration: none;

    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        color: var(--clr-white);
        background-color: rgba(0, 0, 0, 0.5);
    }
    &:active {
        color: var(--clr-white);
        background-color: rgba(0, 0, 0, 0.8);
        transform: translateY(2px);
    }
    & i {
        /* reset font weight for 3rd party Icons using <i> */
        font-weight: var(--fw-regular);
    }
}

/* Optional span arrow animation */
/*
.btn {
    text-align: center;
    width: auto;

    &:hover {
        & span.arrow {
            padding-right: 25px;

            &:after {
                opacity: 1;
                right: 0;
            }
        }
    }

    & span.arrow {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.1s;

        &:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.1s;
        }
    }
}
*/

button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
    background: transparent;
}

/* 
--------------------------------------------------------------------------------
SIZES
--------------------------------------------------------------------------------
*/

.btn--sm {
    /* padding: 0.25rem 0.75rem; */
    font-size: var(--btn-font-sm);
    min-height: 2.25rem;
}
.btn--lg {
    /* padding: 0.625rem 1.25rem; */
    font-size: var(--btn-font-lg);
    min-height: 3.375rem;
}

/* 
--------------------------------------------------------------------------------
ICON BUTTON
--------------------------------------------------------------------------------
*/

.btn--icon {
    padding: 0;
    border-radius: 50%; /* Creates a circle */
}

.btn.btn--icon {
    width: 2.75rem; /* Equal to small height for circle */
    font-size: 1.25em;
}

.btn.btn--icon.btn--sm {
    width: 2.25rem;
    font-size: 1em;
}

.btn.btn--icon.btn--lg {
    width: 3.375rem;
    font-size: 1.75em;
}

/* Icon styles */
/* use as svg class, <i> 3rd party don't use class, rely on font-size above */
.icon {
    width: 1em; /* Scales based on font size */
    height: 1em;
}
.icon--left {
    margin-right: 0.5em;
}
.icon--right {
    margin-left: 0.5em;
}

/* 
--------------------------------------------------------------------------------
TYPE
--------------------------------------------------------------------------------
*/

/* Hierarchy buttons */

.btn--primary {
    border: 3px solid rgb(14, 72, 116);
    background-color: rgba(33, 133, 208, 1);
    color: var(--clr-black);

    &:hover {
        background-color: rgb(21, 99, 159);
    }
    &:active {
        background-color: rgb(14, 72, 116);
    }
}

.btn--bare {
    border: none;
}

/* Inverse buttons */

.btn--inverse {
    border: 3px solid var(--clr-white);
    color: var(--clr-white);

    &:hover {
        color: var(--clr-black);
        background-color: rgba(255, 255, 255, 0.5);
    }
    &:active {
        color: var(--clr-black);
        background-color: rgba(255, 255, 255, 0.8);
    }
}

.btn--primary.btn--inverse {
    color: #54c8ff;
    border: 3px solid #54c8ff;
    background: transparent;

    &:hover {
        color: var(--clr-black);
        background-color: #74d1fd;
    }
    &:active {
        color: var(--clr-black);
        background-color: #aae4ff;
    }
}

.btn--bare.btn--inverse {
    border: none;
}

/* 
--------------------------------------------------------------------------------
RESPONSIVE
--------------------------------------------------------------------------------
*/

@media (max-width: 50em) {
    .btn.btn--fluid {
        display: block;
        width: 100%;
    }
}
/* 
--------------------------------------------------------------------------------
UTILITIES
--------------------------------------------------------------------------------
*/

.btn--circle {
    border-radius: var(--br-circle);
}
