/*
TODO: Secondary, outline styles
TODO: Move variables
FIXME: Flexible paddings using calc or clamp
FIXME: More robust responsive behavior
TODO: Icon and text option??
TODO: Explore SASS mixins complex structures
*/

/*
<button class="btn btn--inverse"><span>Clear</span></button>
*/

:root {
    /* Define base unit size */
    --btn-base-unit: 0.8rem;

    --btn-font-sm: 1.6rem;
    --btn-font-md: 2rem;
    --btn-font-lg: 2.4rem;

    /* Define size multipliers */
    --btn-size-multiplier-sm: 4;
    --btn-size-multiplier-md: 6;
    --btn-size-multiplier-lg: 8;

    /* Define icon size in relation to button size */
    --btn-icon-size-ratio: 0.5;
}

/* 
--------------------------------------------------------------------------------
CORE
--------------------------------------------------------------------------------
*/

.btn,
.btn--icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--clr-black);
    border-radius: var(--br-xxl);
    color: var(--clr-black);
    font-size: var(--btn-font-md);
    font-weight: var(--fw-bold);
    text-decoration: none;
    transition: all 0.2s;
    padding: 0.8rem 1.6rem;
    cursor: pointer;

    &:hover {
        color: var(--clr-white);
        background-color: rgba(0, 0, 0, 0.5);
    }
    &:active {
        color: var(--clr-white);
        background-color: rgba(0, 0, 0, 0.8);
        transform: translateY(0.2rem);
    }
}

.btn {
    text-align: center;
    width: auto;
    /* Optional span arrow animation */
    &:hover {
        & span.arrow {
            padding-right: 25px;

            &:after {
                opacity: 1;
                right: 0;
            }
        }
    }

    & span.arrow {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.1s;

        &:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.1s;
        }
    }
}

.btn--icon {
    border-radius: var(--br-circle);
    padding: var(--btn-base-unit);
    height: 5.4rem;
    width: 5.4rem;

    & .btn--icon__icon {
        fill: currentColor;
        /* width: 1em; Relative to the font-size of the button */
        /*  height: 1em; Relative to the font-size of the button */

        width: calc(
            var(--btn-base-unit) * var(--btn-size-multiplier-md) *
                var(--btn-icon-size-ratio)
        );
        height: calc(
            var(--btn-base-unit) * var(--btn-size-multiplier-md) *
                var(--btn-icon-size-ratio)
        );
    }
}

button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
    background: transparent;
}

/* 
--------------------------------------------------------------------------------
SIZES
--------------------------------------------------------------------------------
*/

.btn.btn--sm {
    font-size: var(--btn-font-sm);
    padding: 0.4rem 1.2rem;
}
.btn.btn--lg {
    font-size: var(--btn-font-lg);
    padding: 1rem 2rem;
}

.btn--icon.btn--sm {
    font-size: var(--btn-font-sm);
    height: 4.4rem;
    width: 4.4rem;

    & .btn--icon__icon {
        width: calc(
            var(--btn-base-unit) * var(--btn-size-multiplier-sm) *
                var(--btn-icon-size-ratio)
        );
        height: calc(
            var(--btn-base-unit) * var(--btn-size-multiplier-sm) *
                var(--btn-icon-size-ratio)
        );
    }
}

.btn--icon.btn--lg {
    font-size: var(--btn-font-lg);
    height: 6.4rem;
    width: 6.4rem;

    & .btn--icon__icon {
        width: calc(
            var(--btn-base-unit) * var(--btn-size-multiplier-lg) *
                var(--btn-icon-size-ratio)
        );
        height: calc(
            var(--btn-base-unit) * var(--btn-size-multiplier-lg) *
                var(--btn-icon-size-ratio)
        );
    }
}

/* 
--------------------------------------------------------------------------------
TYPE
--------------------------------------------------------------------------------
*/

/* Hierarchy buttons */

.btn--primary {
    border: 3px solid rgb(14, 72, 116);
    background-color: rgba(33, 133, 208, 1);
    color: var(--clr-black);

    &:hover {
        background-color: rgb(21, 99, 159);
    }
    &:active {
        background-color: rgb(14, 72, 116);
    }
}

.btn--bare {
    border: none;
}

/* Inverse buttons */

.btn--inverse {
    border: 3px solid var(--clr-white);
    color: var(--clr-white);

    &:hover {
        color: var(--clr-black);
        background-color: rgba(255, 255, 255, 0.5);
    }
    &:active {
        color: var(--clr-black);
        background-color: rgba(255, 255, 255, 0.8);
    }
}

.btn--primary.btn--inverse {
    color: #54c8ff;
    border: 3px solid #54c8ff;
    background: transparent;

    &:hover {
        color: var(--clr-black);
        background-color: #74d1fd;
    }
    &:active {
        color: var(--clr-black);
        background-color: #aae4ff;
    }
}

.btn--bare.btn--inverse {
    border: none;
}

/* 
--------------------------------------------------------------------------------
RESPONSIVE
--------------------------------------------------------------------------------
*/

@media (max-width: 768px) {
    .btn.btn--fluid {
        display: block;
        width: 100%;
    }
}
/* 
--------------------------------------------------------------------------------
UTILITIES
--------------------------------------------------------------------------------
*/

.btn--circle {
    border-radius: var(--br-circle);
}
