body {
    background-image: var(--gr-combi);
    min-height: 100vh;
}

/* 
----------------------------------------------------------
DROPDOWN
----------------------------------------------------------
*/
.dropdown__content {
    background-color: var(--bg-tr-white);
}
