/* ////////////////////////////////////////////////////////////////////////// */
/* SWITCH 2 */

input:where([type='checkbox'][role='switch']) {
    appearance: none;
    position: relative;
    color: var(--clr-black);
    width: 84px;
    height: 44px;
    box-sizing: content-box;
    border: 5px solid;
    border-radius: 3rem;
    vertical-align: text-bottom;
    margin: auto;
}

input:where([type='checkbox'][role='switch'])::before {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    text-transform: uppercase;
    content: 'Off';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(75, 75, 75);
}

input:where([type='checkbox'][role='switch']):checked::before {
    content: 'On';
    transform: translateX(100%);
}

input:where([type='checkbox'][role='switch']):disabled {
    opacity: 0.4;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* SWITCH 1 */

input[type='checkbox'].switch {
    cursor: pointer;
}

input[type='checkbox'].switch + label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

input[type='checkbox'].switch + label::before {
    content: '';
    width: 5.5rem;
    height: 3rem;
    background-color: hsl(0, 80%, 90%);
    border-radius: 2rem;
    margin-right: 1rem;
    transition:
        background-color 200ms ease-in-out,
        transform 200ms ease-in-out;
}

input[type='checkbox'].switch + label::after {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: hsl(0, 80%, 90%);
    text-transform: uppercase;

    position: absolute;
    content: 'off';
    left: 4px;
    width: 40px;
    height: 40px;
    background-color: hsl(0, 80%, 60%);
    border-radius: 2rem;
    transition:
        background-color 200ms ease-in-out,
        transform 1ms ease-in-out;
}
input[type='checkbox'].switch:checked + label::after {
    content: 'On';
    transform: translateX(100%);
    background-color: hsl(100, 73%, 26%);
}
input[type='checkbox'].switch:checked + label::before {
    background-color: hsl(145, 80%, 90%);
}

input[type='checkbox'].switch:focus + label::before {
    outline: 3px solid var(--clr-yellow);
    outline-offset: 0.25rem;
}

input[type='checkbox'].switch:checked + label {
    font-size: var(--fs-base);
}

input[type='checkbox'].switch:disabled + label {
    color: #777;
}
input[type='checkbox'].switch:disabled + label::after {
    background-color: #777;
}
input[type='checkbox'].switch:disabled + label::before {
    background-color: #ccc;
}
