/*
Naming convention:
.{property}{sides}-{size}
*/

/* Margin Utilities */
.m-0 {
    margin: 0;
}
/*
.mt-1 {
    margin-top: var(--sp-3);
}
.mr-2 {
    margin-right: 2rem;
}
.mb-3 {
    margin-bottom: 3rem;
}
.ml-4 {
    margin-left: 4rem;
}
.mx-5 {
    margin-right: 5rem;
    margin-left: 5rem;
}
.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}
*/

/* Padding Utilities */
.p-0 {
    padding: 0;
}
.p-1 {
    padding: var(--sp-1); /* 4px */
}
.p-2 {
    padding: var(--sp-2); /* 8px */
}
.p-3 {
    padding: var(--sp-3); /* 12px */
}
.p-4 {
    padding: var(--sp-4); /* 16px */
}
.p-5 {
    padding: var(--sp-5); /* 20px */
}

/* 
.pt-1 {
    padding-top: 1rem;
}
.pr-2 {
    padding-right: 2rem;
}
.pb-3 {
    padding-bottom: 3rem;
}
.pl-4 {
    padding-left: 4rem;
}
.px-5 {
    padding-right: 5rem;
    padding-left: 5rem;
}
.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
*/

/* Positioning */
.mx-left {
    margin-left: auto;
}
.mx-right {
    margin-right: auto;
}
