/* 
--------------------------------------------------------
01 - Foundation
--------------------------------------------------------
*/

img {
    width: 100%;
    object-position: center;
    object-fit: cover;
}

a {
    color: var(--color-black);
    text-decoration: underline wavy var(--color-yellow);
}

/* 
--------------------------------------------------------
02 - Structure
--------------------------------------------------------
*/

article {
    display: grid;
    grid-template-columns: 2fr 12fr 2fr;
    grid-column-gap: 1rem;

    max-width: 120rem;
    margin: 10rem auto;
}

article > * {
    /* All elments start at grid column track 2 */
    grid-column: 2 / -2;
    /* Hack that allows the column to shrink */
    min-width: 0;
}

.post > figure {
    margin: 3rem 0;
    /* Span all figures full width of the container */
    grid-column: 1 / -1;
}

/*  */

figcaption {
    font-size: 1.4rem;
}

.post > blockquote {
    grid-column: 1 / -1;
    text-align: center;
}

blockquote > p {
    font-style: italic;
    margin: 6rem 0;
    font-size: 4rem;
    color: var(--color-gray);
}
/* 
--------------------------------------------------------
TIPS
--------------------------------------------------------
*/

.tip {
    padding: 1rem;
    align-self: start;
    /* this is a hack to get height of tips to not push down the main column content */
    grid-row: span 3;
}

.tip-left {
    grid-column: 1 / span 1;
    text-align: right;
    border-right: 0.2rem solid var(--color-yellow);
}

.tip-right {
    grid-column: span 1 / -1;
    text-align: left;
    border-left: 0.2rem solid var(--color-yellow);
}
