<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Component → 01 Carousel</title>
        <link rel="stylesheet" href="../../css/main.css" />
        <link
            rel="stylesheet"
            href="../../css/pages/components/01-carousel.css"
        />
        <script defer src="../../js/main.js"></script>
    </head>

    <body class="frame">
        <h1>Carousel</h1>
        <p class="viewport"></p>

        <div class="wrapper p-5 mb-5">
            <div class="blocks">
                <article class="block">Unruly</article>
                <article class="block">Boys</article>
                <article class="block">who</article>
                <article class="block">will</article>
                <article class="block">not</article>
                <article class="block">grow</article>
                <article class="block">up</article>
                <article class="block">must</article>
                <article class="block">be</article>
                <article class="block">taken</article>
                <article class="block">in</article>
                <article class="block">hand</article>
            </div>
        </div>

        <div class="wrapper p-5">
            <div class="cards p-3 bg-white">
                <article class="card flow">
                    <h2>🃏 Card</h2>
                    <p><code>scroll-snap-align: start;</code></p>
                    <p>
                        This is a card. There are many like it but this one is
                        mine.
                    </p>
                    <p>
                        A card might have all sorts of content inside it. This
                        one happens to have two paragraphs of text.
                    </p>
                </article>
                <article class="card flow">
                    <h2>🃏 Card</h2>
                    <p><code>scroll-snap-align: start;</code></p>
                    <p>
                        This is a card. There are many like it but this one is
                        mine.
                    </p>
                    <p>
                        A card might have all sorts of content inside it. This
                        one happens to have two paragraphs of text.
                    </p>
                    <p>
                        Actually, that’s not true. This particular card has
                        three paragraphs.
                    </p>
                </article>
                <article class="card flow">
                    <h2>🃏 Card</h2>
                    <p><code>scroll-snap-align: start;</code></p>
                    <p>
                        This is a card. There are many like it but this one is
                        mine.
                    </p>
                    <p>
                        A card might have all sorts of content inside it. This
                        one happens to have two paragraphs of text.
                    </p>
                </article>
                <article class="card flow">
                    <h2>🃏 Card</h2>
                    <p><code>scroll-snap-align: start;</code></p>
                    <p>
                        This is a card. There are many like it but this one is
                        mine.
                    </p>
                    <p>
                        A card might have all sorts of content inside it. This
                        one happens to have two paragraphs of text.
                    </p>
                    <p>
                        Actually, that’s not true. This particular card has
                        three paragraphs.
                    </p>
                </article>
                <article class="card flow">
                    <h2>🃏 Card</h2>
                    <p><code>scroll-snap-align: start;</code></p>
                    <p>
                        This is a card. There are many like it but this one is
                        mine.
                    </p>
                    <p>
                        A card might have all sorts of content inside it. This
                        one happens to have two paragraphs of text.
                    </p>
                </article>
                <article class="card flow">
                    <h2>🃏 Card</h2>
                    <p><code>scroll-snap-align: start;</code></p>
                    <p>
                        This is a card. There are many like it but this one is
                        mine.
                    </p>
                    <p>
                        A card might have all sorts of content inside it. This
                        one happens to have two paragraphs of text.
                    </p>
                    <p>
                        Actually, that’s not true. This particular card has
                        three paragraphs.
                    </p>
                </article>
            </div>
        </div>

        <script>
            const width = window.innerWidth;
            const height = window.innerHeight;
            const viewPort = document.querySelector('.viewport');

            viewPort.innerText = `The viewport's width is ${width} and the height is ${height}.`;
        </script>
    </body>
</html>
