<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Component → 02 Layered card</title>
        <link rel="stylesheet" href="../../css/main.css" />
        <link
            rel="stylesheet"
            href="../../css/pages/components/02-layered-card.css"
        />
        <script defer src="../../js/main.js"></script>
    </head>

    <body>
        <main>
            <div class="card">
                <div class="welcome bg-black">
                    <div class="subgrid flow">
                        <h3 class="mg-0">Hi Chris</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Consequuntur iusto esse ducimus optio iure.
                            Numquam ullam aut perspiciatis.
                        </p>
                    </div>
                </div>
                <div class="start p-5">
                    <h4 class="mg-0">Start chatting</h4>
                    <div class="person flow">
                        <img src="https://i.pravatar.cc/300" alt="" />
                        <p>Steve McMahon</p>
                        <div class="status" data-status="active">Active</div>
                    </div>
                    <button class="btn">Send a message</button>
                </div>
            </div>
        </main>
    </body>
</html>
