<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Component → 03 Modal</title>
        <link rel="stylesheet" href="../../css/main.css" />
        <link rel="stylesheet" href="../../css/pages/components/03-modal.css" />
        <script type="module" src="../../js/main.js" defer></script>
    </head>

    <body class="frame">
        <main class="wrapper fixed p-5 flow">
            <h1>Modal component</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia
                consequatur facilis tempore eveniet, commodi voluptatibus
                laudantium et corporis sint voluptatum! Impedit quod, iste sunt
                maiores consectetur necessitatibus aut obcaecati voluptate!
            </p>
            <button class="btn show-modal">Show modal</button>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia
                consequatur facilis tempore eveniet, commodi voluptatibus
                laudantium et corporis sint voluptatum! Impedit quod, iste sunt
                maiores consectetur necessitatibus aut obcaecati voluptate!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia
                consequatur facilis tempore eveniet, commodi voluptatibus
                laudantium et corporis sint voluptatum! Impedit quod, iste sunt
                maiores consectetur necessitatibus aut obcaecati voluptate!
            </p>
            <button class="btn btn--primary show-modal">Show modal</button>
        </main>

        <dialog
            class="modal wrapper"
            id="modal"
            aria-modal="true"
            aria-labelledby="modal__title"
            aria-describedby="modal__desc"
        >
        <main class="modal__container">
            <header class="modal__header bg-white">
                <h3 class="modal__title m-0">Modal Title</h3>
                <button class="btn btn--lg btn--circle close-modal">⛌</button>
            </header>
            <section class="modal__content flow" id="modal__desc">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Expedita voluptatem officia et nobis dignissimos, eum
                    obcaecati quaerat suscipit sint iste inventore architecto
                    modi numquam placeat corrupti necessitatibus? Accusamus,
                    illo tempore!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Expedita voluptatem officia et nobis dignissimos, eum
                    obcaecati quaerat suscipit sint iste inventore architecto
                    modi numquam placeat corrupti necessitatibus? Accusamus,
                    illo tempore!
                </p>
            </section>
            <footer class="modal__footer bg-black">
                <button class="btn btn--primary btn--inverse">
                    <span class="arrow">Save</span>
                </button>
                <button class="btn btn--inverse">
                    <span class="arrow">Clear</span>
                </button>
                <button class="btn btn--inverse close-modal">Cancel</button>
            </footer>
        </dialog>
    </main>
    </body>
</html>
