<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Component → 03 Modal</title>
        <link rel="stylesheet" href="../../css/main.css" />
        <link rel="stylesheet" href="../../css/pages/components/03-modal.css" />
        <script defer src="../../js/main.js"></script>
    </head>

    <body class="frame">
        <main class="wrapper fixed p-5 flow">
            <h1>Modal component</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia
                consequatur facilis tempore eveniet, commodi voluptatibus
                laudantium et corporis sint voluptatum! Impedit quod, iste sunt
                maiores consectetur necessitatibus aut obcaecati voluptate!
            </p>
            <a href="#" class="btn show-modal">Show modal</a>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia
                consequatur facilis tempore eveniet, commodi voluptatibus
                laudantium et corporis sint voluptatum! Impedit quod, iste sunt
                maiores consectetur necessitatibus aut obcaecati voluptate!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia
                consequatur facilis tempore eveniet, commodi voluptatibus
                laudantium et corporis sint voluptatum! Impedit quod, iste sunt
                maiores consectetur necessitatibus aut obcaecati voluptate!
            </p>
            <a href="#" class="btn show-modal">Show modal</a>
        </main>

        <div class="modal wrapper hidden">
            <header class="modal__header bg-white">
                <h3>Modal Title</h3>
                <a href="#" class="btn btn--lg btn--circle close-modal">⛌</a>
            </header>
            <section class="modal__content flow">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Expedita voluptatem officia et nobis dignissimos, eum
                    obcaecati quaerat suscipit sint iste inventore architecto
                    modi numquam placeat corrupti necessitatibus? Accusamus,
                    illo tempore!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Expedita voluptatem officia et nobis dignissimos, eum
                    obcaecati quaerat suscipit sint iste inventore architecto
                    modi numquam placeat corrupti necessitatibus? Accusamus,
                    illo tempore!
                </p>
            </section>
            <footer class="modal__footer bg-black">
                <a href="#" class="btn btn--primary btn--inverse" title="Save"
                    ><span>Save</span></a
                >
                <a href="#" class="btn btn--inverse" title="Clear"
                    ><span>Clear</span></a
                >
                <a href="#" class="btn btn--inverse close-modal" title="Cancel"
                    >Cancel</a
                >
            </footer>
        </div>
        <div class="overlay hidden"></div>
    </body>
</html>
