<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Component → 03 Modal</title>
        <link rel="stylesheet" href="../../css/main.css" />
        <link rel="stylesheet" href="../../css/pages/components/03-modal.css" />
        <script defer src="../../js/main.js"></script>
    </head>

    <body>
        <div class="modal wrapper">
            <header class="modal__header bg-white">
                <h3>Modal Title</h3>
                <a href="#" class="btn btn--lg btn--circle">⛌</a>
            </header>
            <section class="modal__content flow">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Expedita voluptatem officia et nobis dignissimos, eum
                    obcaecati quaerat suscipit sint iste inventore architecto
                    modi numquam placeat corrupti necessitatibus? Accusamus,
                    illo tempore!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Expedita voluptatem officia et nobis dignissimos, eum
                    obcaecati quaerat suscipit sint iste inventore architecto
                    modi numquam placeat corrupti necessitatibus? Accusamus,
                    illo tempore!
                </p>
            </section>
            <footer class="modal__footer bg-black">
                <a href="#" class="btn btn--primary btn--inverse" title="Save"
                    ><span>Save</span></a
                >
                <a href="#" class="btn btn--inverse" title="Clear"
                    ><span>Clear</span></a
                >
                <a href="#" class="btn btn--inverse" title="Cancel">Cancel</a>
            </footer>
        </div>
    </body>
</html>
