/* 
--------------------------------------------------------
FOUNDATION
--------------------------------------------------------
*/
body {
    color: white;
    background: #121212;
}

.wrapper {
    inline-size: min(100% - 4rem, 70rem);
    /* margin-inline: auto; */
}

.page-header {
    padding-block: 5rem;
    margin-block-end: 5rem;
    background-image: url('https://images.unsplash.com/photo-1641353989082-9b15fa661805?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=1200'),
        linear-gradient(-25deg, rgb(0 0 0 / 0), rgb(0 0 0 / 1) 50%);
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
}

.page-title {
    /* font-size: 4rem; */
    margin: 0;
}

.section-title {
    margin-block: 4rem 1rem;
}

/* 
--------------------------------------------------------
MEDIA
--------------------------------------------------------
*/
.layout__media {
    position: relative;
}

.media-scroller,
.media-group {
    display: grid;
    gap: 0.4rem;
    grid-auto-flow: column;
}

.media-scroller {
    overflow-x: hidden;
    scroll-behavior: smooth;
    grid-auto-columns: 100%;
    padding: 0 3rem;
    scroll-padding-inline: 3rem;
}

.media-group {
    grid-auto-columns: 1fr;
    /* border: solid 3px limegreen; */
}

.media-element {
    border-radius: var(--br-sm);
    overflow: hidden;
}

.media-element > img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

/* 
--------------------------------------------------------
Scroll navigation Buttons
--------------------------------------------------------
*/

/* 
- buttons set to display:none
- we only show the arrows when they are the current target
- when when the id of the media-group is displayed, only its next and previous are displayed
*/
.next,
.previous {
    display: none;
    position: absolute;
    z-index: 10;
    width: 4rem;
    background: rgba(0, 0, 0, 0);
    padding: 0 1rem;
    opacity: 0;
}

.next {
    right: 0;
    top: 0;
    bottom: 0;
}
.previous {
    left: 0;
    top: 0;
    bottom: 0;
}

.media-group:first-child :where(.next, .previous) {
    display: flex;
}

/* hover on scroller, buttons appear */
.media-scroller:hover :where(.next, .previous) {
    opacity: 1;
}

/* hover button themselves background appears */
:where(.next, .previous):hover {
    background: rgba(0, 0, 0, 0.3);
}

/* default scale transform for button svg */
:where(.next, .previous) > svg {
    transition: transform 75ms linear;
    transform: scale(1);
}
/* buttons on hover scale transform */
:where(.next, .previous):hover > svg {
    transform: scale(1.5);
}

/*
display navigation buttons when within target 
Target is the id on .media-group 
*/
.media-group:target :where(.next, .previous) {
    display: flex;
}

/* 
- display this class first on page load next button when no target id 
- there is no target ID because the user hasn't clicked next to go to a target
*/
.media-scroller:has(:target:not(:first-child))
    .media-group:first-of-type
    .next {
    display: none;
}

/* 
--------------------------------------------------------
Navigation indicators
--------------------------------------------------------
*/

/* hidden by default */
.navigation-indicators {
    opacity: 0;
    position: absolute;
    display: flex;
    gap: 3px;

    top: -1rem;
    right: 2rem;
}

.navigation-indicators > * {
    width: 1rem;
    height: 2px;
    background: white;
    opacity: 0.5;
}

/* When visible (hover) display at 50% opacity, unless... */
.media-scroller:has(.media-group:target)
    .navigation-indicators
    > *:nth-child(1) {
    opacity: 0.5;
}

/* Opacity 100% when in the relevant target section */
.navigation-indicators > *:nth-child(1),
.media-group:nth-child(1):target ~ .navigation-indicators > *:nth-child(1) {
    opacity: 1;
}

.media-group:nth-child(2):target ~ .navigation-indicators > *:nth-child(2) {
    opacity: 1;
}

.media-group:nth-child(3):target ~ .navigation-indicators > *:nth-child(3) {
    opacity: 1;
}

.media-group:nth-child(4):target ~ .navigation-indicators > *:nth-child(4) {
    opacity: 1;
}

.media-scroller:hover .navigation-indicators {
    opacity: 1;
}
