<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Component → Buttons</title>
        <link rel="stylesheet" href="../../css/main.css" />
        <link rel="stylesheet" href="../../css/components/buttons.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
            rel="stylesheet"
        />
        <script type="module" src="../../js/main.js" defer></script>
        <style>
            section {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            @media (max-width: 768px) {
                section {
                    flex-direction: column;
                    gap: 2rem;
                }
            }
        </style>
    </head>
    <body class="body-frame">
        <h1>Buttons</h1>
        <main class="wrapper fixed stack pd-24">
            <!-- DEFAULT -->
            <h3>Default</h3>
            <section class="cluster">
                <button class="btn btn--primary btn--lg btn--fluid">
                    Primary button
                </button>
                <button class="btn btn--primary btn--fluid">
                    Primary button
                </button>
                <button class="btn btn--primary btn--sm btn--fluid">
                    Primary button
                </button>
            </section>
            <section class="cluster">
                <button class="btn btn--lg">Default button</button>
                <button class="btn">Default button</button>
                <button class="btn btn--sm">Default button</button>
            </section>
            <section class="cluster">
                <button class="btn btn--bare btn--lg">Bare button</button>
                <button class="btn btn--bare">Bare button</button>
                <button class="btn btn--bare btn--sm">Bare button</button>
            </section>
            <!-- DEFAULT WITH ICON -->
            <h3>Default with icon</h3>
            <section class="cluster">
                <button class="btn btn--primary btn--lg btn--fluid">
                    <i
                        class="ri-fingerprint-fill icon--left"
                        aria-hidden="true"
                    ></i>
                    Primary button
                </button>
                <button class="btn btn--primary btn--fluid">
                    <i
                        class="ri-fingerprint-fill icon--left"
                        aria-hidden="true"
                    ></i>
                    Primary button
                </button>
                <button class="btn btn--primary btn--sm btn--fluid">
                    <i
                        class="ri-fingerprint-fill icon--left"
                        aria-hidden="true"
                    ></i>
                    Primary button
                </button>
            </section>
            <!-- <section class="cluster">
                <button class="btn btn--lg">Default button</button>
                <button class="btn">Default button</button>
                <button class="btn btn--sm">Default button</button>
            </section>
            <section class="cluster">
                <button class="btn btn--bare btn--lg">Bare button</button>
                <button class="btn btn--bare">Bare button</button>
                <button class="btn btn--bare btn--sm">Bare button</button>
            </section> -->
            <!-- INVERSE -->
            <h3>Inverse</h3>
            <section class="cluster">
                <button class="btn btn--primary btn--inverse btn--lg">
                    Primary button
                </button>
                <button class="btn btn--primary btn--inverse">
                    Primary button
                </button>
                <button class="btn btn--primary btn--inverse btn--sm">
                    Primary button
                </button>
            </section>
            <section class="cluster">
                <button class="btn btn--lg btn--inverse">Default button</button>
                <button class="btn btn--inverse">Default button</button>
                <button class="btn btn--sm btn--inverse">Default button</button>
            </section>
            <section class="cluster">
                <button class="btn btn--bare btn--inverse btn--lg">
                    Bare button
                </button>
                <button class="btn btn--bare btn--inverse">Bare button</button>
                <button class="btn btn--bare btn--inverse btn--sm">
                    Bare button
                </button>
            </section>
            <!-- ICON ONLY -->
            <h3>Icon only</h3>
            <section class="cluster">
                <button class="btn btn--icon btn--lg">
                    <svg
                        aria-hidden="true"
                        focusable="false"
                        class="icon"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                    >
                        <path
                            d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                        />
                    </svg>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon">
                    <svg
                        aria-hidden="true"
                        focusable="false"
                        class="icon"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                    >
                        <path
                            d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                        />
                    </svg>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--sm">
                    <svg
                        aria-hidden="true"
                        focusable="false"
                        class="icon"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                    >
                        <path
                            d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                        />
                    </svg>
                    <span class="sr-only">Close</span>
                </button>
            </section>
            <section class="cluster">
                <button class="btn btn--icon btn--primary btn--lg">
                    <svg
                        aria-hidden="true"
                        focusable="false"
                        class="icon"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                    >
                        <path
                            d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                        />
                    </svg>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--primary">
                    <svg
                        aria-hidden="true"
                        focusable="false"
                        class="icon"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                    >
                        <path
                            d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                        />
                    </svg>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--primary btn--sm">
                    <svg
                        aria-hidden="true"
                        focusable="false"
                        class="icon"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                    >
                        <path
                            d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                        />
                    </svg>
                    <span class="sr-only">Close</span>
                </button>
            </section>
            <section class="cluster">
                <button class="btn btn--icon btn--bare btn--lg">
                    <svg
                        aria-hidden="true"
                        focusable="false"
                        class="icon"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                    >
                        <path
                            d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                        />
                    </svg>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--bare">
                    <svg
                        aria-hidden="true"
                        focusable="false"
                        class="icon"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                    >
                        <path
                            d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                        />
                    </svg>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--bare btn--sm">
                    <svg
                        aria-hidden="true"
                        focusable="false"
                        class="icon"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                    >
                        <path
                            d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                        />
                    </svg>
                    <span class="sr-only">Close</span>
                </button>
            </section>
            <section class="cluster">
                <button class="btn btn--icon btn--primary btn--inverse btn--lg">
                    <i class="ri-color-filter-fill" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--primary btn--inverse">
                    <i class="ri-color-filter-fill" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--primary btn--inverse btn--sm">
                    <i class="ri-color-filter-fill" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
            </section>
            <section class="cluster">
                <button class="btn btn--icon btn--inverse btn--lg">
                    <i class="ri-phone-line" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--inverse">
                    <i class="ri-phone-line" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--inverse btn--sm">
                    <i class="ri-phone-line" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
            </section>

            <!-- SECTION -->
        </main>
    </body>
</html>
