<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Component → Buttons</title>
        <link rel="stylesheet" href="../../css/main.css" />
        <link rel="stylesheet" href="../../css/components/buttons.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
            rel="stylesheet"
        />
        <script type="module" src="../../js/main.js" defer></script>
        <style>
            section {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            @media (max-width: 768px) {
                section {
                    flex-direction: column;
                    gap: 2rem;
                }
            }
        </style>
    </head>
    <body class="body-frame">
        <h1>Buttons</h1>
        <main class="wrapper fixed stack pd-24">
            <!-- DEFAULT -->
            <h3>Default</h3>
            <section class="cluster">
                <button class="btn btn--primary btn--lg btn--fluid">
                    Primary large
                </button>
                <button class="btn btn--primary btn--fluid">
                    Primary medium
                </button>
                <button class="btn btn--primary btn--sm btn--fluid">
                    Primary small
                </button>
            </section>
            <section class="cluster">
                <button class="btn btn--lg">Default large</button>
                <button class="btn">Default medium</button>
                <button class="btn btn--sm">Default small</button>
            </section>
            <section class="cluster">
                <button class="btn btn--bare btn--lg">Bare large</button>
                <button class="btn btn--bare">Bare medium</button>
                <button class="btn btn--bare btn--sm">Bare small</button>
            </section>
            <!-- DEFAULT WITH ICON -->
            <h3>Default with icon</h3>
            <section class="cluster">
                <button class="btn btn--primary btn--lg btn--fluid">
                    <i
                        class="ri-fingerprint-fill icon--left"
                        aria-hidden="true"
                    ></i>
                    Primary large
                </button>
                <button class="btn btn--primary btn--fluid">
                    <i
                        class="ri-fingerprint-fill icon--left"
                        aria-hidden="true"
                    ></i>
                    Primary medium
                </button>
                <button class="btn btn--primary btn--sm btn--fluid">
                    <i
                        class="ri-fingerprint-fill icon--left"
                        aria-hidden="true"
                    ></i>
                    Primary small
                </button>
            </section>
            <!-- <section class="cluster">
                <button class="btn btn--lg">Default button</button>
                <button class="btn">Default button</button>
                <button class="btn btn--sm">Default button</button>
            </section>
            <section class="cluster">
                <button class="btn btn--bare btn--lg">Bare button</button>
                <button class="btn btn--bare">Bare button</button>
                <button class="btn btn--bare btn--sm">Bare button</button>
            </section> -->
            <!-- INVERSE -->
            <h3>Inverse</h3>
            <section class="cluster">
                <button class="btn btn--primary btn--inverse btn--lg">
                    Primary button
                </button>
                <button class="btn btn--primary btn--inverse">
                    Primary button
                </button>
                <button class="btn btn--primary btn--inverse btn--sm">
                    Primary button
                </button>
            </section>
            <section class="cluster">
                <button class="btn btn--lg btn--inverse">Default button</button>
                <button class="btn btn--inverse">Default button</button>
                <button class="btn btn--sm btn--inverse">Default button</button>
            </section>
            <section class="cluster">
                <button class="btn btn--bare btn--inverse btn--lg">
                    Bare button
                </button>
                <button class="btn btn--bare btn--inverse">Bare button</button>
                <button class="btn btn--bare btn--inverse btn--sm">
                    Bare button
                </button>
            </section>
            <!-- ICON ONLY -->
            <h3>Icon only</h3>
            <section class="cluster">
                <button class="btn btn--icon btn--lg">
                    <i class="ri-flag-2-fill"></i>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon">
                    <i class="ri-flag-2-fill"></i>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--sm">
                    <i class="ri-flag-2-fill"></i>
                    <span class="sr-only">Close</span>
                </button>
            </section>
            <section class="cluster">
                <button class="btn btn--icon btn--primary btn--lg">
                    <i class="ri-service-fill"></i>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--primary">
                    <i class="ri-service-fill"></i>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--primary btn--sm">
                    <i class="ri-service-fill"></i>
                    <span class="sr-only">Close</span>
                </button>
            </section>
            <section class="cluster">
                <button class="btn btn--icon btn--bare btn--lg">
                    <svg
                        aria-hidden="true"
                        focusable="false"
                        class="icon"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="M2 4C1.44772 4 1 4.44772 1 5V19C1 19.5523 1.44772 20 2 20H22C22.5523 20 23 19.5523 23 19V5C23 4.44772 22.5523 4 22 4H2ZM9.00008 10C9.00008 9.44772 8.55236 9 8.00008 9C7.44779 9 7.00008 9.44772 7.00008 10C7.00008 10.5523 7.44779 11 8.00008 11C8.55236 11 9.00008 10.5523 9.00008 10ZM11.0001 10C11.0001 11.6569 9.65693 13 8.00008 13C6.34322 13 5.00008 11.6569 5.00008 10C5.00008 8.34315 6.34322 7 8.00008 7C9.65693 7 11.0001 8.34315 11.0001 10ZM5.52725 17.0251L4.11304 15.6109C5.10725 14.6167 6.48362 14 8.00212 14C9.52063 14 10.897 14.6167 11.8912 15.6109L10.477 17.0251C9.84253 16.3907 8.9689 16 8.00212 16C7.03535 16 6.16172 16.3907 5.52725 17.0251ZM20.2071 10.7071L16.2071 14.7071L15.5 15.4142L14.7929 14.7071L12.2929 12.2071L13.7071 10.7929L15.5 12.5858L18.7929 9.29289L20.2071 10.7071Z"
                        ></path>
                    </svg>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--bare">
                    <svg
                        aria-hidden="true"
                        focusable="false"
                        class="icon"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="M2 4C1.44772 4 1 4.44772 1 5V19C1 19.5523 1.44772 20 2 20H22C22.5523 20 23 19.5523 23 19V5C23 4.44772 22.5523 4 22 4H2ZM9.00008 10C9.00008 9.44772 8.55236 9 8.00008 9C7.44779 9 7.00008 9.44772 7.00008 10C7.00008 10.5523 7.44779 11 8.00008 11C8.55236 11 9.00008 10.5523 9.00008 10ZM11.0001 10C11.0001 11.6569 9.65693 13 8.00008 13C6.34322 13 5.00008 11.6569 5.00008 10C5.00008 8.34315 6.34322 7 8.00008 7C9.65693 7 11.0001 8.34315 11.0001 10ZM5.52725 17.0251L4.11304 15.6109C5.10725 14.6167 6.48362 14 8.00212 14C9.52063 14 10.897 14.6167 11.8912 15.6109L10.477 17.0251C9.84253 16.3907 8.9689 16 8.00212 16C7.03535 16 6.16172 16.3907 5.52725 17.0251ZM20.2071 10.7071L16.2071 14.7071L15.5 15.4142L14.7929 14.7071L12.2929 12.2071L13.7071 10.7929L15.5 12.5858L18.7929 9.29289L20.2071 10.7071Z"
                        ></path>
                    </svg>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--bare btn--sm">
                    <svg
                        aria-hidden="true"
                        focusable="false"
                        class="icon"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="M2 4C1.44772 4 1 4.44772 1 5V19C1 19.5523 1.44772 20 2 20H22C22.5523 20 23 19.5523 23 19V5C23 4.44772 22.5523 4 22 4H2ZM9.00008 10C9.00008 9.44772 8.55236 9 8.00008 9C7.44779 9 7.00008 9.44772 7.00008 10C7.00008 10.5523 7.44779 11 8.00008 11C8.55236 11 9.00008 10.5523 9.00008 10ZM11.0001 10C11.0001 11.6569 9.65693 13 8.00008 13C6.34322 13 5.00008 11.6569 5.00008 10C5.00008 8.34315 6.34322 7 8.00008 7C9.65693 7 11.0001 8.34315 11.0001 10ZM5.52725 17.0251L4.11304 15.6109C5.10725 14.6167 6.48362 14 8.00212 14C9.52063 14 10.897 14.6167 11.8912 15.6109L10.477 17.0251C9.84253 16.3907 8.9689 16 8.00212 16C7.03535 16 6.16172 16.3907 5.52725 17.0251ZM20.2071 10.7071L16.2071 14.7071L15.5 15.4142L14.7929 14.7071L12.2929 12.2071L13.7071 10.7929L15.5 12.5858L18.7929 9.29289L20.2071 10.7071Z"
                        ></path>
                    </svg>
                    <span class="sr-only">Close</span>
                </button>
            </section>
            <!-- ICON ONLY INVERSE -->
            <h3>Icon only inverse</h3>
            <section class="cluster">
                <button class="btn btn--icon btn--primary btn--inverse btn--lg">
                    <i class="ri-color-filter-fill" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--primary btn--inverse">
                    <i class="ri-color-filter-fill" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--primary btn--inverse btn--sm">
                    <i class="ri-color-filter-fill" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
            </section>
            <section class="cluster">
                <button class="btn btn--icon btn--inverse btn--lg">
                    <i class="ri-home-6-fill" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--inverse">
                    <i class="ri-home-6-fill" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--inverse btn--sm">
                    <i class="ri-home-6-fill" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
            </section>
            <section class="cluster">
                <button class="btn btn--icon btn--bare btn--inverse btn--lg">
                    <i class="ri-briefcase-4-fill" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--bare btn--inverse">
                    <i class="ri-briefcase-4-fill" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
                <button class="btn btn--icon btn--bare btn--inverse btn--sm">
                    <i class="ri-briefcase-4-fill" aria-hidden="true"></i>
                    <span class="sr-only">Close</span>
                </button>
            </section>

            <!-- SECTION -->
        </main>
    </body>
</html>
