<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Component → Dropdown</title>
        <link rel="stylesheet" href="../../css/main.css" />
        <link rel="stylesheet" href="../../css/components/dropdown.css" />
        <script defer src="../../js/modules/components/dropdown.js"></script>
    </head>
    <body class="body-frame">
        <main class="wrapper fixed p-5 flow">
            <h1>Dropdown</h1>
            <div class="dropdown">
                <button
                    class="btn dropdown__trigger"
                    id="dropdown1"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Dropdown Menu 1
                </button>
            </div>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui
                iure, ipsa illum facilis expedita natus perspiciatis? Hic
                incidunt sunt consectetur voluptatibus ratione tenetur dicta at
                minima iure? Quis, alias ut.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
                odit aut, recusandae ipsum ea rerum, ullam cum velit qui, non
                consectetur animi officiis. Facere sint temporibus sunt natus
                reiciendis perferendis.
            </p>
            <div class="dropdown">
                <button
                    class="btn dropdown__trigger"
                    id="dropdown2"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Dropdown Menu 2
                </button>
            </div>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim
                quas, fuga id modi quia ipsa corrupti nisi, quod minus est
                ratione excepturi temporibus saepe nulla earum, laborum
                mollitia! Cumque, quis!
            </p>
            <!-- <div class="dropdown__content">
                <ul class="dropdown__links">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                    <li><a href="#">Link 5</a></li>
                </ul>
            </div> -->
        </main>
    </body>
</html>
