<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Component → Navbar</title>
        <link rel="stylesheet" href="../../css/main.css" />
        <link rel="stylesheet" href="../../css/components/navbar.css" />
    </head>
    <body>
        <nav class="navbar"></nav>
        <main class="stack">
            <h1>Navbar</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Veritatis amet nobis expedita in consequatur autem omnis fugit
                quae est, vel officia a voluptatem error laudantium debitis
                praesentium natus maxime doloribus! Lorem, ipsum dolor sit amet
                consectetur adipisicing elit.Veritatis amet nobis expedita in
                consequatur autem omnis fugit quae est, vel officia a voluptatem
                error laudantium debitis praesentium natus maxime doloribus!
                Lorem, ipsum dolor sit amet consectetur adipisicing
                elit.Veritatis amet nobis expedita.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Veritatis amet nobis expedita in consequatur autem omnis fugit
                quae est, vel officia a voluptatem error laudantium debitis
                praesentium natus maxime doloribus!
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Veritatis amet nobis expedita in consequatur autem omnis fugit
                quae est, vel officia a voluptatem error laudantium debitis
                praesentium natus maxime doloribus! Lorem, ipsum dolor sit amet
                consectetur adipisicing elit.Veritatis amet nobis expedita in
                consequatur autem omnis fugit quae est, vel officia a voluptatem
                error laudantium debitis praesentium natus maxime doloribus!
                Lorem, ipsum dolor sit amet consectetur adipisicing
                elit.Veritatis amet nobis expedita.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Veritatis amet nobis expedita in consequatur autem omnis fugit
                quae est, vel officia a voluptatem error laudantium debitis
                praesentium natus maxime doloribus!
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Veritatis amet nobis expedita in consequatur autem omnis fugit
                quae est, vel officia a voluptatem error laudantium debitis
                praesentium natus maxime doloribus! Lorem, ipsum dolor sit amet
                consectetur adipisicing elit.Veritatis amet nobis expedita in
                consequatur autem omnis fugit quae est, vel officia a voluptatem
                error laudantium debitis praesentium natus maxime doloribus!
                Lorem, ipsum dolor sit amet consectetur adipisicing
                elit.Veritatis amet nobis expedita.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Veritatis amet nobis expedita in consequatur autem omnis fugit
                quae est, vel officia a voluptatem error laudantium debitis
                praesentium natus maxime doloribus!
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Veritatis amet nobis expedita in consequatur autem omnis fugit
                quae est, vel officia a voluptatem error laudantium debitis
                praesentium natus maxime doloribus! Lorem, ipsum dolor sit amet
                consectetur adipisicing elit.Veritatis amet nobis expedita in
                consequatur autem omnis fugit quae est, vel officia a voluptatem
                error laudantium debitis praesentium natus maxime doloribus!
                Lorem, ipsum dolor sit amet consectetur adipisicing
                elit.Veritatis amet nobis expedita.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Veritatis amet nobis expedita in consequatur autem omnis fugit
                quae est, vel officia a voluptatem error laudantium debitis
                praesentium natus maxime doloribus!
            </p>
        </main>
    </body>
</html>
