<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Component → Tabs</title>
        <link rel="stylesheet" href="../../css/main.css" />
        <link rel="stylesheet" href="../../css/components/tabs.css" />
        <script src="../../js/modules/components/tabs.js" defer></script>
        <!-- <script type="module" src="../../js/main.js" defer></script> -->
    </head>
    <body class="frame">
        <h1>Accessible tabs</h1>
        <main class="wrapper p-5">
            <h3 id="tabs__title" class="m-0">Tabs title</h3>
            <div class="tabs__container">
                <ul aria-labelledby="tabs__title">
                    <li><a id="tab-1" href="#advertising">Advertising</a></li>
                    <li><a id="tab-2" href="#social-media">Social media</a></li>
                    <li>
                        <a id="tab-3" href="#content-marketing"
                            >Content marketing</a
                        >
                    </li>
                    <li><a id="tab-4" href="#email">Email</a></li>
                </ul>

                <!-- PANELS - START -->
                <div class="tabs__panels">
                    <!-- PANEL 1 - START -->
                    <div
                        id="advertising"
                        class="tabs__panel"
                        aria-labelledby="tab-1"
                    >
                        <p>
                            Using links instead of buttons for tabs is a good
                            idea so the component can progressively fallback to
                            a list of links to navigate the user to sections of
                            content if Javascript is turned off.
                            <a href="#">Lorem ipsum</a>
                            dolor sit amet consectetur adipisicing elit. Magni
                            minus eum recusandae voluptas non beatae vel eius
                            quisquam ex veniam, culpa impedit provident, nihil
                            iusto assumenda facilis a, modi fugit!
                        </p>
                    </div>
                    <!-- PANEL 2 - START -->
                    <div
                        id="social-media"
                        class="tabs__panel"
                        aria-labelledby="tab-2"
                    >
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Magni minus eum
                            <a href="#">Lorem ipsum</a> recusandae voluptas non
                            beatae vel eius quisquam ex veniam,
                            <a href="#">Lorem ipsum</a> culpa impedit provident,
                            nihil iusto assumenda facilis a, modi fugit!
                        </p>
                    </div>
                    <!-- PANEL 3 - START -->
                    <div
                        id="content-marketing"
                        class="tabs__panel"
                        aria-labelledby="tab-3"
                    >
                        <p>
                            Magni minus eum recusandae voluptas non beatae vel
                            eius quisquam ex veniam, culpa impedit provident,
                            nihil <a href="#">Lorem ipsum</a> iusto assumenda
                            facilis a, modi fugit!
                        </p>
                    </div>
                    <!-- PANEL 4 - START -->
                    <div id="email" class="tabs__panel" aria-labelledby="tab-4">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Magni minus <a href="#">Lorem ipsum</a> eum
                            recusandae voluptas non beatae vel eius quisquam ex
                            veniam. Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Repellendus, fugiat sed ipsa eaque
                            harum a perferendis reiciendis molestias sint enim?
                            Consequatur <a href="#">Lorem ipsum</a> ipsam aut
                            cupiditate, reprehenderit incidunt similique. Omnis,
                            quos consequuntur?
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
