body {
    background-image: var(--gradient-fizz);
}

/* Centred fixed width container */

.container {
    padding: 2.4rem;
}

img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    object-position: center;
}

/* ARTICLE */

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-auto-rows: auto;
    margin-bottom: 3rem;

    &:nth-child(odd) {
        text-align: right;

        & img {
            grid-column: 2;
        }
        .content {
            grid-column: 1;
            grid-row: 1;

            .button {
                align-self: flex-end;
            }
        }
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    & img {
        grid-column: 1;
    }
    .content {
        grid-column: 2;
        padding: 50px;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        > * {
            margin: 0;
        }

        & p {
            display: inline-block;
        }
        .button {
            align-self: flex-start;
        }
    }
}

@media (max-width: 700px) {
    article {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;

        /* Right aligned version */
        .content {
            grid-column: 1 / -1;
            padding: 2rem 0 0 0;
        }

        & img {
            grid-column: 1 / -1;
        }

        .content {
            .button {
                align-self: stretch;
            }
        }

        /* Left aligned version */
        &:nth-child(odd) {
            .content {
                grid-column: 1 / -1;
                padding: 2rem 0 0 0;
                grid-row: 2;
                text-align: left;

                .button {
                    align-self: stretch;
                }
            }

            & img {
                grid-column: 1 / -1;
            }
        }
    }
}
