body {
    background-image: var(--gradient-wiretap);
}

.wrapper {
    /*
    largest it could get on shrink = 100%
    Minus 4.8rem split on both sides (like a margin)
    max-width 75ch (reading length)
    */
    width: min(100% - 4.8rem, 75ch);
    margin-inline: auto; /* Centers the container */
}

/* Trick to get full width image break out of the container */
.big-image {
    max-width: 100vw;
    width: 100vw;
    /* would like  to put --flow-space as top value */
    margin: 1em calc(-50vw + 50%) 0;
    max-height: 50vh;
    object-fit: cover;
}
.cta {
    background: orange;
    width: 100vw;
    margin: 1em calc(-50vw + 50%) 0;
    padding: 3em;
}

ul {
    /* if you want the standard bullets, use 'disc' instead of 'circle' */
    list-style: disc;
    list-style-position: outside;
    padding-left: 2em;
}
