body {
    background-image: var(--gradient-wiretap);
}

/* 
ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
STRUCTURE
ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
*/

.wrapper {
    padding: var(--spacing-m);
}

main {
    display: grid;
    gap: var(--spacing-m);
}

@media (width > 700px) {
    main {
        grid-template-columns: 1fr 300px;
    }
}

.primary-content > h2 {
    margin-top: 0;
}

/* 
ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
CARD
ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
*/

.cards,
.primary-content {
    container-type: inline-size;
}

.cards {
    container-name: cards;
}

.card {
    display: grid;
    gap: var(--spacing-s);
    padding: var(--spacing-m);

    & > * {
        margin: 0;
    }
}

/* Affects both section containers */

@container (width > 45ch) {
    .card {
        grid-template-columns: auto minmax(25ch, 1fr);

        & h3 {
            grid-column: 1 / -1;
        }
    }
}

/* Affects ONLY the named section container */

@container cards (width > 45ch) {
    .card {
        text-align: center;
    }
}

/* 
ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
IMAGES
ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
*/

img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    object-position: center;
}
