<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts → 02 Simple layout</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="02-simple-layout.css">
</head>

<body>
    <h1>Layouts</h1>
    <h3>Grid ⊕ Flexbox <span class="text-light">Simple layout</span></h3>
    <div class="container demo1">
        <div class="header">
            <div>HOME</div>
            <div>SEARCH</div>
            <div>LOGOUT</div>
        </div>
        <div class="menu">
            <h4>MENU</h4>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
            </ul>
        </div>
        <div class="content">
            <h4>CONTENT</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dolorem sunt corporis earum
                velit laborum fugiat ea eligendi sint, officia ut nulla aliquam alias qui rem. Consectetur, distinctio
                delectus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dolorem sunt corporis earum
                velit laborum fugiat ea eligendi sint, officia ut nulla aliquam alias qui rem. Consectetur, distinctio
                delectus.</p>
        </div>
        <div class="footer">
            <h4>FOOTER</h4>
        </div>
    </div>

    <h3>Grid ⊕ Flexbox <span class="text-light">Simple nav with search</span></h3>
    <div class="container demo2">
        <nav>
            <ul class="flex-nav">
                <li>Home</li>
                <li>Profile</li>
                <li class="search">
                    <input type="search" name="" id="" class="search-input" placeholder="Search">
                </li>
                <li>Logout</li>
            </ul>
        </nav>
        <div class="content">
            <h4>CONTENT</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dolorem sunt corporis earum
                velit laborum fugiat ea eligendi sint, officia ut nulla aliquam alias qui rem. Consectetur, distinctio
                delectus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dolorem sunt corporis earum
                velit laborum fugiat ea eligendi sint, officia ut nulla aliquam alias qui rem. Consectetur, distinctio
                delectus.</p>
        </div>
    </div>
</body>


</html>