body {
    margin: 50px;
    background-image: var(--gradient-wiretap);
    min-height: calc(100vh - 100px);
}

.grid-page > div {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.container > div {
    background: rgba(255, 255, 255, 0.5);
}

.header {
    grid-column: 1 / -1;

    /* Nav item displayed with flexbox */
    display: flex;
    gap: 1rem;
    padding: 2rem;
}

.header > div {
    font-size: var(--font-size-md);
    padding: 1rem 2rem;
    background: var(--color-yellow);
}
.header > div:nth-child(3) {
    margin-left: auto;
}
.menu {
    grid-column: 1 / 3;
    padding: 2rem;
}

.content {
    grid-column: 3 / -1;
    padding: 2rem;
}

.footer {
    grid-column: 1 / -1;
    padding: 2rem;
}
