body {
    margin: 50px;
    background-image: var(--gradient-wiretap);
    min-height: calc(100vh - 100px);
}

@media all and (max-width: 600px) {
    body {
        margin: 2.4rem;
    }
}

/* 
--------------------------------------------------------
01 - Simple layout
--------------------------------------------------------
*/

/* .grid-page > div {
    display: flex;
    align-items: center;
    padding: 0px 20px;
} */

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.demo1 > div {
    background: rgba(255, 255, 255, 0.5);
}

.header {
    grid-column: 1 / -1;

    /* Nav item displayed with flexbox */
    display: flex;
    gap: 1rem;
    padding: 2rem;
}

.header > div {
    font-size: var(--font-size-md);
    padding: 1rem 2rem;
    background: var(--color-yellow);
}
.header > div:nth-child(3) {
    margin-left: auto;
}

.menu {
    grid-column: 1 / 3;
    padding: 2rem;
}

.content {
    grid-column: 3 / -1;
    padding: 2rem;
}

.footer {
    grid-column: 1 / -1;
    padding: 2rem;
}

@media all and (max-width: 600px) {
    .header {
        flex-wrap: wrap;

        /* test sticky positioning */
        position: sticky;
        top: 0;
    }
    .header > div {
        flex-basis: 100%;
        text-align: center;
    }

    .menu,
    .content {
        grid-column: 1 / -1;
    }
    .menu {
        order: 1;
    }
    .footer {
        order: 2;
    }
}

/* 
--------------------------------------------------------
02 - Simple nav with search
--------------------------------------------------------
*/

.demo2 > nav {
    grid-column: 1 / -1;
}

.demo2 > * {
    background: rgba(255, 255, 255, 0.5);
}

.demo2 > .content {
    grid-column: 1 / -1;
    padding: 2rem;
}

/* Flex nav */

.flex-nav {
    display: flex;
    gap: 1rem;

    padding: 0;
    margin: 0;
}
.flex-nav > li {
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    list-style-type: none;
    background: var(--color-yellow);
}

.search {
    /* Let the search li containing the input fill the remaining space */
    flex: 1;
}

.search-input {
    border: 0;
    width: 100%;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid var(--color-gray);
}
::placeholder {
    color: var(--color-gray);
}

.search-input:focus {
    outline: none;
}

/* Media queries to change Flexbox nav */

@media all and (max-width: 600px) {
    .flex-nav {
        flex-wrap: wrap;
    }
    .flex-nav > li {
        /* calc compensates for gap on flexbox container */
        flex: 1 1 calc(50% - 1rem);
    }
    .search > input {
        text-align: center;
    }
}

@media all and (max-width: 400px) {
    .flex-nav > li {
        flex: 1 1 100%;
    }
    .search {
        order: 1;
    }
}
