<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts → 05 Minimal Grid</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="05-minimal-grid.css">
</head>

<body>
    <h1>Minimal Grid</h1>
    <div class="container">
        <header>
            🐸 Header
        </header>
        <nav>
            <ul class="container-nav">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
                <li>Item 6</li>
            </ul>
        </nav>
        <div class="container-main">
            <section class="item item-type-a">
                <h3>Item A</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolores possimus, dolor
                    consectetur natus dolorem velit dolore ut. Nesciunt quam maiores voluptas animi expedita sunt
                    corrupti iure, provident vitae repudiandae!</p>
            </section>
            <section class="item item-type-b">
                <h3>Item B</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolores possimus, dolor
                    consectetur natus dolorem velit dolore ut. Nesciunt quam maiores voluptas animi expedita sunt
                    corrupti iure, provident vitae repudiandae!</p>
            </section>
            <section class="item item-type-b">
                <h3>Item B</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolores possimus, dolor
                    consectetur natus dolorem velit dolore ut. Nesciunt quam maiores voluptas animi expedita sunt
                    corrupti iure, provident vitae repudiandae!</p>
            </section>
            <section class="item container-inner">
                <section class="item-inner">Aside A<span>Lorem ipum dolor sit amet</span></section>
                <section class="item-inner">Aside B<span>Lorem ipum dolor sit amet</span></section>
                <section class="item-inner">Aside C<span>Lorem ipum dolor sit amet</span></section>
                <section class="item-inner">Aside D<span>Lorem ipum dolor sit amet</span></section>
                <section class="item-inner">Aside E<span>Lorem ipum dolor sit amet</span></section>
            </section>
        </div>

        <footer>
            🦶 Footer
        </footer>
    </div>

</body>

</html>