/* 
https://css-tricks.com/4-css-grid-properties-and-one-value-for-most-of-your-layout-needs/
*/

body {
    margin: 50px 0;
    background-image: var(--gradient-velvetsun);
    min-height: calc(100vh - 100px);
    font-weight: 700;
}

/* 
ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
BASIC STYLE
ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
*/

header,
footer {
    padding: 2rem;
}

header,
footer,
nav {
    margin: 2rem 0;
}

header,
footer {
    background-color: var(--demo-bg-white);
}

nav li {
    background-color: var(--demo-bg-black);
    color: var(--color-white);
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item {
    padding: 2rem;
    background-color: var(--demo-bg-white);
}

.item-type-a,
.item-type-b {
    background-color: var(--demo-bg-rose);

    & h3 {
        margin-top: 0;
    }
}

.item-inner {
    padding: 2rem;
    background-color: var(--demo-bg-black);
    color: var(--color-white);

    & span {
        display: block;
        font-weight: 300;
    }
}

/* 
ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
GRID LAYOUT
ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
*/

/* 
- Mobile first approach
- Media queries to style table and above
*/

.container {
    /* max-width: 1200px;
    width: calc(100vw - 4rem);
    margin: 0 auto; */

    width: min(100% - 6rem, 1200px);
    margin-inline: auto;
}

.container-main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.container-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.container-nav {
    display: grid;
    gap: 1rem;
}

.item {
    /* total number of cols in container */
    grid-column: span 6;
}
.item-inner {
    /* total number of cols in container */
    grid-column: span 3;
}

/* 600px and up */
@media screen and (min-width: 600px) {
    .container-nav {
        grid-auto-flow: column;
    }

    /* 1/2 of container */
    .item-type-b {
        grid-column: span 3;
    }

    /* 1/3 of container */
    .item-inner {
        grid-column: span 1;
    }
}

/* 900px and up */
@media screen and (min-width: 900px) {
    .container-main {
        grid-auto-flow: column;
    }
    .item {
        /* 1/3 of container */
        grid-column: span 2;
        /* Stretch item A height of 2x item B */
        grid-row: span 2;
    }

    .item-type-b {
        grid-row: span 1;
    }

    .item-inner {
        /* Full width of container (container-inner) */
        grid-column: span 3;
    }
}
