<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts → 07 Simple layout</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="07-minimal-code.css">
</head>

<body>

    <main>
        <article class="wrapper flow">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat obcaecati ratione adipisci repudiandae,
                facere, fugit omnis reprehenderit ipsam voluptatum commodi molestias praesentium vero recusandae numquam
                aperiam incidunt ullam. Sapiente, ad?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat obcaecati ratione adipisci repudiandae,
                facere, fugit omnis reprehenderit ipsam voluptatum commodi molestias praesentium vero recusandae numquam
                aperiam incidunt ullam. Sapiente, ad?</p>

            <h2>Nemo rem itaque laboriosam porro, maxime, esse natus rerum.</h2>
            <img src="https://source.unsplash.com/1000x800" alt="Big Ass Image">
            <h3>Nemo rem itaque laboriosam porro, maxime, esse natus rerum.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed tempora cupiditate, temporibus porro enim
                animi deleniti non similique quo ex excepturi, ut optio, facilis dolorum odio vel distinctio recusandae
                totam?</p>
            <ul>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique velit possimus aliquam
                    consequatur nesciunt eveniet minima quibusdam.</li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique velit possimus aliquam
                    consequatur nesciunt eveniet minima quibusdam.</li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique velit possimus aliquam
                    consequatur nesciunt eveniet minima quibusdam.</li>
            </ul>
            <h3>Nemo rem itaque laboriosam porro, maxime, esse natus rerum.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed tempora cupiditate, temporibus porro enim
                animi deleniti non similique quo ex excepturi, ut optio, facilis dolorum odio vel distinctio recusandae
                totam?</p>

            <img src="https://source.unsplash.com/1000x800" alt="Big Ass Image">
        </article>
    </main>
</body>

</html>