/*  */

body {
    background-image: var(--gradient-martini);
}

.container {
    display: grid;
}

.card-grid {
    display: grid;
    /* explicit, them implicit rows set to auto */
    grid-auto-rows: min-content;
    gap: 2rem;
}

main {
    min-width: 70%;
    padding: 3rem;
}
aside {
    background: var(--color-black);
    padding: 3rem;
}

@media (min-width: 37.5em) {
    .card-grid {
        grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    }
    .card-grid:has(> :last-child:nth-child(odd)) > :first-child {
        grid-column: span 2;
    }
}

@media (min-width: 60em) {
    .container {
        grid-template-columns: 2fr 1fr;
    }
}

/* 
------------------------------------------------------
CARD
------------------------------------------------------
*/

.card {
    background: var(--color-white);
    text-decoration: none;
    box-shadow: var(--shadow-default);

    display: flex;
    flex-direction: column;
    /* Card fill vertical height of grid row */
    min-height: 100%;

    /* to move card on hover */
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;

    &:hover {
        top: -5px;
        box-shadow: var(--shadow-dark);
        background: var(--color-gray-light);
    }

    & article {
        /* fill article rest of vertical height */
        flex: 1;
        padding: clamp(1rem, 2vw, 3rem);
    }

    & p {
        /* to make p grow to fil available vertical space */
        color: var(--color-gray);
    }

    & h3 {
        margin: 0;
        color: var(--color-gray-dark);
    }

    & span {
        color: var(--color-black);
        text-transform: uppercase;
    }
}
.card > img {
    aspect-ratio: 3 / 2;
    object-position: center;
    object-fit: cover;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
}
