/*  */
body {
    margin: 50px 0;
    background-image: var(--gradient-velvetsun);
    min-height: calc(100vh - 100px);
}

/* 
--------------------------------------------------------
STRUCTURE
--------------------------------------------------------
*/

.container {
    display: grid;
    width: min(100% - 6rem, 100rem);
    margin-inline: auto;
}

.container > aside {
    background: #f05053;
    color: azure;
    padding: clamp(2rem, 2vw, 4rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & h3 {
        margin-top: 0;
    }
}

.container > section {
    background: var(--demo-bg-white);
    padding: clamp(2rem, 2vw, 4rem);
}

.form__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

/* 
--------------------------------------------------------
FORM
--------------------------------------------------------
*/

label {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
    font-weight: 700;
}

.form-group {
    margin: 0;
}

.input-text,
.input-area {
    width: 100%;
    border: 2px solid var(--color-black);
    border-radius: var(--border-radius-sm);
    padding: 0.6rem;
    min-height: 4rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.input-text:focus,
.input-area:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
}

.btn__submit {
    display: block;
    width: 100%;
    padding: 1rem;
    background: var(--color-black);
    color: var(--color-white);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border: none;
}

.btn__submit:active {
    transform: translateY(5px);
}

.btn__submit:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
}

/* 
--------------------------------------------------------
MEDIA QUERIES _ MOBILE FIRST
--------------------------------------------------------
*/

@media (min-width: 50em) {
    .container {
        grid-template-columns: 30rem 1fr;
    }

    .container > aside {
        & > span {
            margin-top: auto;
        }
    }

    .form__wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .form__message,
    .form__button {
        grid-column: 1 / -1;
    }
}
