<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts → 12 Minimal grid</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="12-minimal-grid.css">
</head>

<body>

    <h1>Minimal Grid</h1>
    <main class="container">

        <header class="header">
            <h3>🐸 Header</h3>
        </header>
        <div class="panel flow">
            <h3>Panel A</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolores possimus.</p>
        </div>
        <div class="panel">
            <h3>Panel B</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolores possimus.</p>
        </div>
        <div class="panel tall-panel">
            <h3>Panel C</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolores possimus.</p>
        </div>
        <div class="panel">
            <h3>Panel D</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolores possimus.</p>
        </div>
        <div class="panel">
            <h3>Panel E</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolores possimus.</p>
        </div>
        <div class="panel">
            <h3>Panel F</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolores possimus.</p>
        </div>
        <div class="panel tall-panel">
            <h3>Panel G</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolores possimus.</p>
        </div>
        <div class="panel tall-panel">
            <h3>Panel H</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolores possimus.</p>
        </div>
        <div class="panel">
            <h3>Panel I</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolores possimus.</p>
        </div>
        <div class="panel">
            <h3>Panel J</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolores possimus.</p>
        </div>
        <footer class="footer">
            <h3>🦶 Footer</h3>
        </footer>
    </main>

</body>

</html>