<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts → 13 Holy grail</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="13-holy-grail.css">
</head>

<body>
    <h1>Holy grail layout</h1>

    <div class="container">
        <header class="header">
            <h3>🐸 Header</h3>
        </header>
        <nav class="nav">
            <h3>Nav</h3>
        </nav>
        <main class="main">
            <article>
                <h3>Article</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum explicabo pariatur incidunt recusandae
                    odit maxime alias nobis. Eum magni tenetur facilis minus ratione, perspiciatis eligendi suscipit
                    asperiores officiis quis iste.</p>
            </article>
            <article>
                <h3>Article</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum explicabo pariatur incidunt recusandae
                    odit maxime alias nobis. Eum magni tenetur facilis minus ratione, perspiciatis eligendi suscipit
                    asperiores officiis quis iste.</p>
            </article>
            <article>
                <h3>Article</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum explicabo pariatur incidunt recusandae
                    odit maxime alias nobis. Eum magni tenetur facilis minus ratione, perspiciatis eligendi suscipit
                    asperiores officiis quis iste.</p>
            </article>
            <article>
                <h3>Article</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum explicabo pariatur incidunt recusandae
                    odit maxime alias nobis. Eum magni tenetur facilis minus ratione, perspiciatis eligendi suscipit
                    asperiores officiis quis iste.</p>
            </article>
        </main>
        <aside class="sidebar">
            <h3>Aside</h3>
        </aside>
        <footer class="footer">
            <h3>🦶 Footer</h3>
        </footer>
    </div>

</body>

</html>