body {
    margin: 50px;
    background-image: var(--gradient-wiretap);
    min-height: calc(100vh - 100px);
}

.features-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.features-item {
    transition: opacity 200ms ease;
    margin-bottom: 2rem;
}

.list-2 .features-item:last-child {
    margin-bottom: 0;
}

.features-item:hover {
    opacity: 0.7;
    cursor: pointer;
}

.features-item-header {
    margin: 0;
}

.features-image {
    text-align: center;
    margin-bottom: 2rem;
    & img {
        filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.4));
        border-radius: var(--border-radius-lg);
    }
}

#features {
    display: grid;
}

@media (min-width: 600px) {
    #features {
        grid-template-columns: 1fr 1fr;
    }

    .features-image {
        grid-row: 1 / span 2;
    }
    .list-2 {
        grid-column: 2;
    }
    .list-2 .features-item-header:first-child {
        margin-top: 0;
    }
}

/* @media (min-width: 800px) {
    #features {
        grid-template-columns: 1fr 2fr;
    }
} */

@media (min-width: 900px) {
    #features {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1000px;
        margin: 0 auto;
    }
    .features-image {
        grid-column: 2;
    }
    .list-1 {
        text-align: right;
    }
    .list-2 {
        grid-column: 3;
    }
}
