/*  */

body {
    width: 100%;

    margin: 0;
    background: linear-gradient(to bottom, #19175d, lightblue);
    /* setting background purposely larger than viewport to scroll */
    min-height: 300vh;
    background-size: 100% 300vh;
    padding: 3rem;
}

h1 {
    margin: 0;
    color: var(--color-white);
}

/* 
--------------------------------------------------------
ANIMATION ELEMENTS
--------------------------------------------------------
*/

/* Cloud style and positioning */
.cloud {
    width: 12vw;
    height: auto;
    position: absolute;
    top: 5vh;
    left: 60vw;
    fill: var(--demo-bg-white);
}

.cloud:nth-child(2n) {
    top: 100vh;
    left: 15vw;
}

.cloud:nth-child(3n) {
    top: 160vh;
    left: 70vw;
}

/* Fighter jet on path */

.progress {
    position: fixed;
    top: 8rem;
    left: 8rem;
    height: auto;
    fill: var(--color-yellow);
    z-index: 1;

    offset-path: path(
        'M.5 122.7s24.7-275 276.9 0c327.1 356.7 266.1-330.3 548-33.3 256.9 270.7 271.1 0 271.1 0'
    );

    animation: move auto linear;
    animation-timeline: scroll(root);
}

/* 
--------------------------------------------------------
ANIMATION
--------------------------------------------------------
*/

@keyframes move {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}
