body {
    background: var(--gradient-martini);
}

main {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

    scroll-snap-type: y mandatory;

    & section {
        scroll-snap-align: start;
    }
}

img {
    flex: 0 0 50%;
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    animation: linear inAndOut;

    /* 
    animation scroll progress tracked to viewport visibility
    on scroll within parent container (main)
    */
    animation-timeline: view();
}

section {
    display: flex;
    align-items: center;
    min-height: 300px;
    height: 50vh;

    &:nth-child(even) {
        /* background: black;
        color: white; */
        flex-direction: row-reverse;

        & img {
            animation-name: inAndOutReverse;
        }
    }
}

.text {
    padding: 4rem;
    flex: 0 0 50vw;
}

@keyframes inAndOut {
    entry 0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    entry 100% {
        opacity: 1;
        transform: translateX(0);
    }

    exit 0% {
        opacity: 1;
        transform: translateX(0);
    }
    exit 100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes inAndOutReverse {
    entry 0% {
        opacity: 0;
        transform: translateX(50%);
    }
    entry 100% {
        opacity: 1;
        transform: translateX(0);
    }

    exit 0% {
        opacity: 1;
        transform: translateX(0);
    }
    exit 100% {
        opacity: 0;
        transform: translateX(50%);
    }
}

.container::-webkit-scrollbar {
    width: 2rem;
}
.container::-webkit-scrollbar-track {
    background: var(--color-black);
}
.container::-webkit-scrollbar-thumb {
    background: var(--color-white);
}
.container::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-light);
}
