/* Base */
@import url('base/variables.css');
@import url('base/global.css');
@import url('base/reset.css');
@import url('base/typography.css');

/* Components */
@import url('components/buttons.css');
/* @import url('components/carousel.css'); */

/* Layout */
@import url('layout/structure.css');
@import url('layout/every-layout.css');
/* @import url('layout/header.css'); */

/* Pages */
/* @import url('pages/home.css'); */
/* @import url('pages/contact.css'); */

/* Utilities (optional) */
@import url('utils/spacing.css');
@import url('utils/sizing.css');
