body {
    background-image: var(--gr-wiretap);
}

.container {
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
    grid-template-rows: min-content min-content 1fr min-content;
    gap: var(--sp-5);
}

.main {
    grid-column: 2 / 3;

    & article {
        padding: var(--sp-5);
        margin-bottom: var(--sp-5);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.header,
.footer {
    grid-column: 1 / -1;
    padding: var(--sp-5);

    & h3 {
        margin: 0;
    }
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    padding: var(--sp-5);
}

.nav {
    grid-column: 2 / 3;
    padding: var(--sp-5);

    & h3 {
        margin: 0;
    }
}

h3 {
    margin-top: 0;
}

@media (max-width: 60em) {
    .container {
        grid-template-columns: 1fr;

        > * {
            grid-column: 1 / -1 !important;
            grid-row: auto !important;
        }
    }
}
