/* 
--------------------------------------------------------
FOUNDATIONS
--------------------------------------------------------
*/

body {
    --offset: max(1rem, 3vw);
    --boxSize: clamp(2.5rem, 10vw, 200px);
    --boxSize: 15vw;
    padding: var(--offset);
    background-color: #ad5389;

    /* Set viewport higher vertically for y scroll */
    min-height: 300vh;

    /* Scroll animation connected to background change */
    animation: colorChange auto linear;
    animation-timeline: scroll(root block);
}

h1 {
    margin: 0;
    color: var(--color-white);
}

.wrapper {
    padding: var(--offset);

    /* centre contents vertically */
    min-height: 100vh;
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

/* 
--------------------------------------------------------
ANIMATION ELEMENTS
--------------------------------------------------------
*/

h1 {
    flex: 1 0 100%;
    /* Clip reveal h1 left to right */
    animation: clip auto linear;
    animation-timeline: scroll(root block);
}

@property --i {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.box {
    --i: 1;
    --angle: calc((var(--i) - 1) * (360deg / 5));
    --amplitude: 9vw;
    --x: calc(var(--i) * var(--boxSize));

    /* box styling */
    width: var(--boxSize);
    aspect-ratio: 1;
    background:
        radial-gradient(circle at 25% 50%, black 10%, transparent 0),
        radial-gradient(circle at 75% 50%, black 10%, transparent 0),
        radial-gradient(circle at 50% 0, black 10%, transparent 0) deeppink;
    background-position:
        center center,
        center center,
        center calc(var(--boxSize) * 0.6),
        center center;
    background-size:
        100% 100%,
        100% 100%,
        100% 100%;
    background-repeat: no-repeat;
    border-radius: max(10%, 0.2rem);
    border: min(5px, 1vw) solid;

    /* Animation of box move and spin */
    animation:
        move auto linear,
        spin auto linear;
    animation-timeline: scroll(root block);
    translate: calc(var(--x) - var(--boxSize))
        calc(sin(var(--angle)) * var(--amplitude));
}

/* 
--------------------------------------------------------
ANIMATION
--------------------------------------------------------
*/

@keyframes move {
    0% {
        --i: 1;
    }
    100% {
        --i: 6;
    }
}

@keyframes colorChange {
    100% {
        background-color: #3c1053;
    }
}

@keyframes spin {
    100% {
        rotate: 360deg;
    }
}

/* Clip reveal h1 left to right */
@keyframes clip {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
