body {
    background: var(--gr-fizz);

    overflow: hidden;
}

.preload * {
    transition: none !important;
    animation-duration: 0.001s !important;
}

.container {
    z-index: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

button {
    padding: 2rem;
    color: var(--color-white);
    background-color: var(--color-black);
    border: none;
    border-radius: var(--br-md);
    cursor: pointer;
    font-weight: 700;

    transition: background-color 0.3s ease-out;
    transition: transform 0.2s ease-out;

    &:hover {
        transform: translateY(-2px);
        background-color: var(--color-gray-dark);
        box-shadow: var(--bs-dark);
    }
}

.popup-modal {
    width: min(100% - 6rem, 50rem);
    padding: 3rem;
    background-color: var(--color-white);
    border-radius: var(--br-lg);
    pointer-events: none;
    opacity: 0%;
    text-align: center;
    z-index: 10;

    position: fixed;
    top: 50%;
    left: 50%;
    /* transform-origin: center; */

    /* Transition setup for position and opacity */
    transition:
        transform 0.3s ease-in-out,
        opacity 0.3s ease;
    transform: translate(-50%, -100%);

    & h1 {
        margin-top: 0;
    }

    & p {
        margin-bottom: 2.2rem;
    }
}

.backdrop {
    pointer-events: none;
    position: fixed;
    inset: 0;
    background: #000;
    opacity: 0%;

    transition: opacity 0.3s ease-out;
}

/* Event trigger classes */

.popup-modal.show {
    opacity: 100%;
    pointer-events: all;

    /* move modal into central position */
    transform: translate(-50%, -50%);
}

.backdrop.show {
    opacity: 50%;
}
