body {
    margin: 50px;
    background-image: var(--gradient-combi);
    min-height: calc(100vh - 100px);
}

@media all and (max-width: 600px) {
    body {
        margin: 2.4rem;
    }
}

.container {
    padding: 3rem;
    margin-bottom: 3rem;
}

.cards {
    background: var(--demo-bg-white);
    padding: 1rem;

    .card {
        padding: 2rem;
        background: var(--demo-bg-white);
        border-radius: var(--border-radius-lg);

        & h2 {
            margin-top: 0;
        }
    }
}

/* Up to 50 rem - trigger carousel */
@media (max-width: 50em) {
    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 2rem;
        overflow-x: auto;
        scroll-snap-type: inline mandatory;
        scroll-behavior: smooth;

        .card {
            flex-shrink: 0;
            flex-basis: 15em;
            scroll-snap-align: start;
        }
    }
}

/* 50 rem plus - NO carousel */
@media (min-width: 50em) {
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
        gap: 2rem;
    }
}
