<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component → 01 Carousel</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="01-carousel.css">
</head>

<body>
    <h1>Carousel</h1>
    <div class="container">
        <p class="viewport"></p>
        <div class="cards">
            <article class="card">
                <h2>🃏 Card</h2>
                <p><code>scroll-snap-align: start;</code></p>
                <p>This is a card. There are many like it but this one is mine.</p>
                <p>A card might have all sorts of content inside it. This one happens to have two paragraphs of text.
                </p>
            </article>
            <article class="card">
                <h2>🃏 Card</h2>
                <p><code>scroll-snap-align: start;</code></p>
                <p>This is a card. There are many like it but this one is mine.</p>
                <p>A card might have all sorts of content inside it. This one happens to have two paragraphs of text.
                </p>
                <p>Actually, that’s not true. This particular card has three paragraphs.</p>
            </article>
            <article class="card">
                <h2>🃏 Card</h2>
                <p><code>scroll-snap-align: start;</code></p>
                <p>This is a card. There are many like it but this one is mine.</p>
                <p>A card might have all sorts of content inside it. This one happens to have two paragraphs of text.
                </p>
            </article>
            <article class="card">
                <h2>🃏 Card</h2>
                <p><code>scroll-snap-align: start;</code></p>
                <p>This is a card. There are many like it but this one is mine.</p>
                <p>A card might have all sorts of content inside it. This one happens to have two paragraphs of text.
                </p>
                <p>Actually, that’s not true. This particular card has three paragraphs.</p>
            </article>
            <article class="card">
                <h2>🃏 Card</h2>
                <p><code>scroll-snap-align: start;</code></p>
                <p>This is a card. There are many like it but this one is mine.</p>
                <p>A card might have all sorts of content inside it. This one happens to have two paragraphs of text.
                </p>
            </article>
            <article class="card">
                <h2>🃏 Card</h2>
                <p><code>scroll-snap-align: start;</code></p>
                <p>This is a card. There are many like it but this one is mine.</p>
                <p>A card might have all sorts of content inside it. This one happens to have two paragraphs of text.
                </p>
                <p>Actually, that’s not true. This particular card has three paragraphs.</p>
            </article>

        </div>
    </div>

    <script>

        const width = window.innerWidth;
        const height = window.innerHeight;
        const viewPort = document.querySelector('.viewport')

        viewPort.innerText = `The viewport's width is ${width} and the height is ${height}.`;

    </script>
</body>

</html>